<!-- Partnered studios intro -->
<section *ngIf="content">
    <div id="intro" class="columns is-mobile">
        <div class="column is-half">
            <h2>Partnered Studio</h2>
            <h3 class="blurb">{{ content.partneredSummary }}</h3>
        </div>
        <div class="column">
            <cdn-image
                cloudinaryPrefix="/"
                cloudinaryId="{{ content.partneredSummaryImage.public_id }}"
                width="900"
                [autoFormat]="true"
                [responsive]="true"
                alt="Partnered Studio flavor image"
            ></cdn-image>
        </div>
    </div>
    <div class="columns is-mobile">
        <div class="column is-full">
            <h1 class="uppercase sm">Curriculum</h1>
            <h3 class="blurb">
                {{ content.partneredCurriculum }}
            </h3>
        </div>
    </div>
    <div class="columns is-mobile is-multiline">
        <div class="column is-full">
            <hr class="thick" />
            <h1 class="uppercase sm">Current Studios</h1>

            <h4
                *ngIf="
                    !content.currentPartneredStudios ||
                    content.currentPartneredStudios.length < 1
                "
            >
                None, for now!
            </h4>
        </div>
        <div
            class="column is-half is-full-mobile studios"
            *ngFor="let studio of content.currentPartneredStudios"
        >
            <studio-thumb [studio]="studio"></studio-thumb>
        </div>
        <div class="column is-full">
            <hr class="thick" />
            <h1 class="uppercase sm">Previous Partnered Studios</h1>
            <h4
                *ngIf="
                    !content.previousPartneredStudios ||
                    content.previousPartneredStudios.length < 1
                "
            >
                None, for now!
            </h4>
        </div>

        <div
            class="column is-half is-full-mobile studios"
            *ngFor="let studio of content.previousPartneredStudios"
        >
            <studio-thumb [studio]="studio"></studio-thumb>
        </div>
    </div>
</section>
