<h2>Partner with us</h2>

<section class="columns is-mobile is-multiline" *ngIf="content !== undefined">
    <div class="column is-6-tablet is-11-mobile">
        <h3 class="blurb">
            {{ content.intro }}
        </h3>
    </div>
    <div class="column">
        <cdn-image
            cloudinaryPrefix="/"
            cloudinaryId="{{ content.image.public_id }}"
            width="614"
            alt="About flavor image"
            [autoFormat]="true"
            [responsive]="true"
        ></cdn-image>
    </div>
    <div class="column is-full-tablet is-11-mobile">
        <h3 class="blurb">
            {{ content.summary1 }}
        </h3>
    </div>
    <div class="column is-full-tablet is-11-mobile">
        <h1 class="uppercase">
            Benefits of Partnerships
        </h1>
        <h3 class="blurb">
            {{ content.summary2 }}
        </h3>
    </div>
</section>

<section>
    <h1 class="uppercase">
        Partnership inquiry form
    </h1>

    <hr class="thick" />

    <form
        class="columns column is-full is-multiline"
        [formGroup]="inquiryForm"
        (submit)="submitForm()"
        *ngIf="!received"
    >
        <div class="fields">
            <div class="column is-full">
                <span *ngIf="submitted && f.name.invalid" class="formerror">
                    Required
                </span>
                <input
                    formControlName="name"
                    id="name"
                    placeholder="Full Name"
                    required
                    aria-label="Enter your full name"
                />
            </div>
            <div class="column is-full">
                <span class="formerror" *ngIf="submitted && f.email.invalid">
                    <span *ngIf="f.email.errors.email">
                        Invalid Email
                    </span>
                    <span *ngIf="f.email.errors.required">
                        Required
                    </span>
                </span>
                <input
                    formControlName="email"
                    id="email"
                    placeholder="Email address"
                    aria-label="Enter your email address"
                />
            </div>
            <div class="column is-full">
                <span *ngIf="submitted && f.company.invalid" class="formerror">
                    Required
                </span>
                <input
                    formControlName="company"
                    id="company"
                    placeholder="Company or affiliation"
                    required
                    value="Engagement Lab"
                    aria-label="Enter your company or affiliation"
                />
            </div>
            <div class="column is-full">
                <span *ngIf="submitted && f.message.invalid" class="formerror">
                    Required
                </span>

                <textarea
                    formControlName="message"
                    id="message"
                    name="message"
                    placeholder="Please tell us about your partnership interest"
                    rows="5"
                    required
                    value="Inquiry here."
                    aria-label="Enter your partnership interest here"
                ></textarea>
            </div>
            <div class="column">
                <button type="submit">Get in touch</button>
            </div>
        </div>
    </form>
    <!-- email sent -->
    <div *ngIf="received">
        Thanks for your message! We will be in touch shortly!
    </div>
</section>
