@import "~src/styles/_variables";

h1 {
  letter-spacing: 1.5px;
}

h3 {
  font-family: 'LunchtypeMedium';
}

app-button {
  @include not-phones {
    display: block;
    margin-top: 14%;
  }

  &.archive {
    ::ng-deep a {
      padding-top: 5%;
      padding-bottom: 5%;
      padding-left: 5%;
      padding-right: 5%;
    }

  }
}

// .controls {

//   margin-top: 17%;

//   @include not-phones {
//     margin-top: 5%;
//   }

//   button {
//     font-family: 'LunchtypeRegular';
//     font-size: 1em;
//     margin-bottom: 7%;

//     @include not-phones {
//       font-size: 1.4em;
//     }

//     sup {
//       font-size: .9em;
//     }

//     &.mixitup-control-active {
//       font-family: 'LunchtypeMedium';
//       font-weight: bold;
//     }
//   }

// }

#intro {
  font-family: 'Overpass';

  a {
    cursor: pointer;

    // Current filter
    &.mixitup-control-active {
      text-decoration: underline;
    }
  }

  .bold {
    font-weight: 900;
  }

  .controls a {
    margin-right: 2%;
  }
}

#projects {
  justify-content: space-evenly;

  .project {

    .bg {
      display: flex;
      text-align: center;
      align-items: center;
      max-height: 330px;

      overflow: hidden;
    }

    h4 {
      font-size: 1.7em;
    }

  }
}

#archive {

  @include mq($until: mobileLg) {
    display: none;
  }

  h3,
  div {
    align-items: center;
  }

  .item {
    a:hover {

      &.theme-0 {
        color: $mango;
      }

      &.theme-1 {
        color: $green-blue;
      }
    }
  }

  .columns {
    margin-top: 5%;
  }

  .type {
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.33;
    letter-spacing: 1.5px;
  }

  .name {
    font-size: 1.9em;
    line-height: 1.41;
    letter-spacing: 0.5px;
  }

  .arrow {
    justify-content: right;
    text-align: right;
  }

}

@include mq($until: mobileLg) {
  #archive-mobile {
    justify-content: center;
    display: flex;
  }
}
