@import "~src/styles/_variables";

#modal {
    position: fixed;
    display: flex;
    cursor: pointer;
    overflow-y: scroll;

    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1000;

    color: white;
    background-color: black;

    flex-direction: column;

    #header {
        display: flex;
        justify-content: space-between;
        padding: 3% 4% 0% 2%;

        @include not-phones {
            max-height: 100px;
        }

        @include phones {
            padding-bottom: 15%;
        }
    }

    #content {
        max-width: 630px;
        padding: 10% 5% 0% 5%;
        align-self: center;
        justify-content: space-evenly;

        @include not-phones {
            padding-left: 0;
            padding-right: 0;
        }

        @include until-tablet-wide {

            max-width: 93%;
        }

        @include desktop {

            max-width: 60%;
        }

        #top {
            padding: 0;

            ::ng-deep img {
                max-width: 270px;
            }
        }

        #bio {
            padding: 0;
            line-height: 1.29;
            font-size: .9em;

            @include not-phones {
                line-height: 1.44;
                letter-spacing: 0.3px;
                font-size: 1em;
            }

            .www {

                ::ng-deep a,
                a {
                    color: white;
                    border-bottom: solid 1px rgba($color: #fff, $alpha: .6);
                }
            }
        }

    }


    h1,
    a {
        color: white;
    }

    h1 {
        font-size: 1.1em;
    }

    #social {
        margin-bottom: 10%;

        ::ng-deep img {
            @include filter(invert, 1);
        }
    }

    #menu-btn {
        display: flex;
        align-items: center;

        width: 75px;
        height: 40px;

        span {
            display: block;
            position: absolute;
            height: 1px;
            width: 82px;
            background: white;

            &:nth-child(1) {
                @include transform(rotate(155deg));
            }

            &:nth-child(2) {
                @include transform(rotate(-155deg));
            }

        }
    }
}