<div *ngIf="content">
    <div id="name" class="columns is-multiline">
        <h2 class="column is-full">{{ content.name }}</h2>
    </div>

    <div class="top" class="columns is-mobile is-multiline">
        <div id="date" class="column is-full-tablet is-11-mobile">
            {{ content.date | date: 'MMMM dd, yyyy' }}
        </div>

        <div
            class="column"
            *ngIf="
                content.eventUrl &&
                content.eventUrl.length > 0 &&
                !content.showButton
            "
        >
            <h4>Website</h4>
            <a href="{{ content.eventUrl }}" role="link">{{
                content.eventUrl | prettyUrl
            }}</a>
        </div>

        <app-button
            class="column is-4-tablet"
            label="{{ content.buttonTxt }}"
            href="{{ content.eventUrl }}"
            [ariaLabel]="'Go to ' + content.name + ' website'"
            *ngIf="content.showButton"
        ></app-button>

        <!-- Columns break if video -->
        <div class="column is-full" *ngIf="content.videoId"></div>
        <!-- Video -->
        <div
            id="video"
            class="column is-full-mobile is-full-tablet is-half-desktop"
            *ngIf="content.videoId"
        >
            <a
                id="video-thumb"
                [routerLink]=""
                (click)="embedVideo()"
                *ngIf="!videoDisplayToggle && content.videoThumbnail"
            >
                <cdn-image
                    cloudinaryPrefix="/"
                    cloudinaryId="{{ content.videoThumbnail.public_id }}"
                    autoFormat="true"
                    [alt]="
                        'Preview thumbnail image for ' +
                        content.name +
                        ' video.'
                    "
                    *ngIf="content.videoThumbnail.public_id.length > 0"
                ></cdn-image>
                <!-- No thumb -->
                <img
                    src="https://dummyimage.com/500x300/cfcfcf/ff0000.png&text=Needs+thumbnail"
                    alt="Preview image thumbnail for video with text saying 'Needs thumbnail'"
                    *ngIf="content.videoThumbnail.public_id.length === 0"
                />
                <span class="icon">
                    <svg width="80" height="80" fill="none" viewBox="0 0 80 80">
                        <path
                            fill="#fff"
                            d="M40 0C17.92 0 0 17.92 0 40s17.92 40 40 40 40-17.92 40-40S62.08 0 40 0zM29.44 55.84V24.16L56.96 40 29.44 55.84z"
                        />
                    </svg>
                </span>
            </a>
            <div id="video-embed" class="embed" *ngIf="videoDisplayToggle">
                <div class="frame">
                    <iframe
                        [src]="videoUrl"
                        frameborder="0"
                        allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>
                <script src="https://player.vimeo.com/api/player.js"></script>
            </div>
        </div>

        <div
            #description
            class="description column"
            [class.is-full]="!content.videoId"
        >
            <div
                id="short"
                class="column is-11-mobile is-three-quarters-tablet"
            >
                {{ content.shortDescription }}
            </div>
            <div
                class="column is-11-mobile is-three-quarters-tablet"
                [innerHtml]="content.description.html"
            ></div>

            <!-- If no video -->
            <div
                class="columns is-mobile is-multiline is-centered"
                *ngIf="
                    !content.videoId &&
                    content.images !== undefined &&
                    content.images.length > 0
                "
            >
                <div class="column is-11-mobile is-one-third-tablet">
                    <cdn-image
                        cloudinaryPrefix="/"
                        cloudinaryId="{{ content.images[0].public_id }}"
                        height="450"
                        alt="Image for '{{ content.name }}' event"
                        *ngIf="content.images[0] !== undefined"
                    ></cdn-image>
                </div>
                <div class="column is-11-mobile is-one-third-tablet">
                    <cdn-image
                        cloudinaryPrefix="/"
                        cloudinaryId="{{ content.images[1].public_id }}"
                        height="700"
                        alt="Image for '{{ content.name }}' event"
                        *ngIf="content.images[1] !== undefined"
                    ></cdn-image>
                </div>
                <div class="column is-11-mobile is-5-tablet">
                    <cdn-image
                        cloudinaryPrefix="/"
                        cloudinaryId="{{ content.images[2].public_id }}"
                        height="725"
                        alt="Image for '{{ content.name }}' event"
                        *ngIf="content.images[2] !== undefined"
                    ></cdn-image>
                </div>
                <div class="column is-11-mobile is-7-tablet">
                    <cdn-image
                        cloudinaryPrefix="/"
                        cloudinaryId="{{ content.images[3].public_id }}"
                        width="700"
                        alt="Image for '{{ content.name }}' event"
                        *ngIf="content.images[3] !== undefined"
                    ></cdn-image>
                </div>
            </div>
        </div>

        <!-- If video -->
        <div
            class="columns is-mobile is-multiline is-centered"
            *ngIf="
                content.videoId &&
                content.images !== undefined &&
                content.images.length > 0
            "
        >
            <div class="column is-11-mobile is-one-third-tablet">
                <cdn-image
                    cloudinaryPrefix="/"
                    cloudinaryId="{{ content.images[0].public_id }}"
                    height="450"
                    alt="Image for '{{ content.name }}' event"
                    *ngIf="content.images[0] !== undefined"
                ></cdn-image>
            </div>
            <div class="column is-11-mobile is-one-third-tablet">
                <cdn-image
                    cloudinaryPrefix="/"
                    cloudinaryId="{{ content.images[1].public_id }}"
                    height="700"
                    alt="Image for '{{ content.name }}' event"
                    *ngIf="content.images[1] !== undefined"
                ></cdn-image>
            </div>
            <div class="column is-11-mobile is-5-tablet">
                <cdn-image
                    cloudinaryPrefix="/"
                    cloudinaryId="{{ content.images[2].public_id }}"
                    height="725"
                    alt="Image for '{{ content.name }}' event"
                    *ngIf="content.images[2] !== undefined"
                ></cdn-image>
            </div>
            <div class="column is-11-mobile is-7-tablet">
                <cdn-image
                    cloudinaryPrefix="/"
                    cloudinaryId="{{ content.images[3].public_id }}"
                    width="700"
                    alt="Image for '{{ content.name }}' event"
                    *ngIf="content.images[3] !== undefined"
                ></cdn-image>
            </div>
        </div>
    </div>

    <section
        id="nextprev"
        class="columns is-mobile is-multiline listing no-margin"
    >
        <div class="item column is-11-mobile is-half-tablet">
            <a
                id="prev"
                class="prev"
                routerLink="/events/{{ previous.key }}"
                *ngIf="previous"
            >
                <hr class="hidden-mobile" />

                <div>
                    <h1 class="uppercase">
                        previous event
                    </h1>

                    <h2>{{ previous.name }}</h2>
                    <svg width="32" height="23" fill="none" viewBox="0 0 32 23">
                        <path
                            stroke="#000"
                            d="M.5 11.309h29.788M19.968 1L30.5 11.5 19.968 22"
                        />
                    </svg>
                </div>
            </a>
        </div>
        <div class="item column  is-11-mobile is-half-tablet" *ngIf="next">
            <a id="next" routerLink="/events/{{ next.key }}">
                <hr class="hidden-mobile" />

                <div>
                    <h1 class="uppercase">
                        next event
                    </h1>

                    <h2>{{ next.name }}</h2>
                    <svg width="32" height="23" fill="none" viewBox="0 0 32 23">
                        <path
                            stroke="#000"
                            d="M.5 11.309h29.788M19.968 1L30.5 11.5 19.968 22"
                        />
                    </svg>
                </div>
            </a>
        </div>
    </section>
</div>
