@import "~src/styles/_variables";

h1 {
    text-transform: uppercase;
    line-height: 1.33;
    letter-spacing: 1.5px;

    .year {
        font-size: 2.1em;
        font-weight: 800;

        letter-spacing: 1.3px;

        color: black;
        -webkit-text-stroke: black 1px;
        -webkit-text-fill-color: white;
    }
}

a:hover {

    .year {
        -webkit-text-stroke: $tomato 1px; 
    }
    svg path {
        stroke: $tomato;
    }
}