@import "~src/styles/_variables";


#events {
  h1 {
    text-transform: uppercase;
    line-height: 1.33;
    letter-spacing: 1.5px;
    margin-top: 0;

    .year {
      font-size: 2.1em;
      font-weight: 800;

      letter-spacing: 1.3px;

      color: black;
      -webkit-text-stroke: black 1px;
      -webkit-text-fill-color: white;
    }
  }

  h2 {
    margin-top: 0;
  }

  a:hover {
    .year {
      -webkit-text-stroke: $tomato 1px;
    }
  }

  .description {
    font-size: 1.1em;
  }

}

#pastevents {

  background-color: black;
  color: white;

  margin-top: 10%;
  margin-left: -3%;
  margin-right: -3%;

  padding: 3%;

  h1,
  h3,
  h4 {
    color: white;
  }

  h1 {
    font-size: 1.1em;
  }

  h4 {
    font-size: 1.05em;
    text-transform: uppercase;

    .year {
      font-size: 1.4em;
    }
  }

  @include phones {

    h3,
    h4 {
      margin-top: 0;
    }
  }

  svg {
    @include transition(transform, .2s, ease-in-out);
  }

  hr {
    border-bottom: solid 1px rgba(255, 255, 255, .3);
  }

  a:hover {
    svg {
      @include translate(15%);
    }
  }

  .description {
    color: white;
    font-size: .9em;
    line-height: 1.29;
  }

}
