<!-- Archived Projects -->
<section id="archive" class="listing" *ngIf="projectsArchived !== undefined">
    <div #archiveList class="item column is-full" *ngFor="let project of projectsArchived; let first = first">
        <a routerLink="/projects/{{ project.key }}" class="theme-{{ project.sortOrder % 3 }}">
            <hr *ngIf="!first" />

            <div class="columns is-multiline is-mobile">
                <h3 class="column is-full-mobile is-4-tablet type">
                    {{ project.projectType }}
                </h3>

                <div class="name column no-margin">
                    {{ project.name }}&nbsp;
                    <svg width="32" height="23" fill="none" viewBox="0 0 32 23">
                        <path stroke="#000" d="M.5 11.309h29.788M19.968 1L30.5 11.5 19.968 22" />
                    </svg>
                </div>
            </div>
        </a>
    </div>
</section>
