
<div id="projects" class="columns is-multiline" *ngIf="projects">

    <div #projectList class="project view-tooltip column {{project.projectType}}" [class.mix]="project.key !== 'dummy'"
        *ngFor="let project of projects; let i = index;">

        <a routerLink="/projects/{{project.key}}" *ngIf="project.key !== 'dummy'">
            <div class="bg">
                <span role="tooltip">view</span>
                <cdn-image cloudinaryPrefix="/" cloudinaryId="{{project.image.public_id}}" autoFormat="true" height="490"
                    alt="Thumbnail image for '{{project.name}}' project" *ngIf="project.image !== undefined"></cdn-image>
            </div>
            <h4>{{project.name}}</h4>

        </a>
    </div>

</div>
