<div id="featured" class="columns is-multiline" *ngIf="projectFeatured !== undefined">
  <h1 class="column is-full uppercase">Featured Project</h1>

  <div class="column is-one-third">
    
    <h2>{{projectFeatured?.name}}</h2>
    <h3>{{projectFeatured?.projectType}}</h3>
    <div class="blurb">
        {{projectFeatured?.byline}}   
    </div>
    <app-button data-aos="fade-in" data-aos-delay="7" label="view" route="/projects/{{projectFeatured?.key}}" ariaLabel="Go to '{{projectFeatured?.name}}' project"></app-button>
  </div>
  <div class="column is-one-third">
      <cdn-image cloudinaryPrefix="/" cloudinaryId="{{projectFeatured.image.public_id}}" autoFormat="true" alt="Thumbnail image for '{{content?.name}}' project"></cdn-image>
  </div>


</div>

<div class="controls">
      <button type="button" class="control" data-filter="all">All <sup>{{projectTypesTotal}}</sup></button>
      <button type="button" class="control" [attr.data-filter]="'.'+type" *ngFor="let type of projectTypeNames">{{type}} <sup>{{projectTypesCount[type]}}</sup></button>    
    </div>
      
  <div id="projects" class="columns is-multiline is-centered">

  <div #projectList class="project column is-one-third is-one-fourth-tablet mix {{project.projectType}}" data-aos="fade-in" *ngFor="let project of projects; let i = index;">
    
    <a routerLink="/projects/{{project.key}}">
      <div class="bg">
        <span role="tooltip">view</span>
        <cdn-image cloudinaryPrefix="/" cloudinaryId="{{project.image.public_id}}" autoFormat="true" width="600" alt="Thumbnail image for '{{project.name}}' project"></cdn-image>
      </div>

      <h1>{{project.projectType}}</h1>
      <h4>{{project.name}}</h4>

    </a>
  </div>
</div>