@import "~src/styles/_variables";

h1 {
    letter-spacing: 1.5px; 
}

.controls {

    button {
        font-family: 'LunchtypeRegular';
        font-size: 1.4em;
        &.mixitup-control-active {
            font-weight: bold;
        }
    }

}


.project {

    .bg {
        display: flex;
        text-align: center;
        align-items: center;
        min-height: 450px;
    }

    h4 {
        font-size: 1.7em;
    }

    img {
        // width: 70%;
    }

}