@import "~src/styles/_variables";

h2 {
    // font-size: 1.6em;
    margin-top: 1%;
    margin-bottom: 1%;
}

.blurb {

    font-size: 2em;
    line-height: 1.43;
    letter-spacing: 0.3px;

    @include mobile-only {
        font-size: 1.5em;
        line-height: 1.17;
        letter-spacing: 0.5px;
    }

}

.description {

    font-size: 1.5em;
    line-height: 1.43;
    letter-spacing: 0.3px;

    margin-top: 15%;

    @include mobile-only {
        font-size: 1em;
        line-height: 1.25;
        margin-top: 33%;
    }

    h3 {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        font-size: 1.1em;
    }

    .text {
        font-size: .9em;
    }

}

#top {
    padding-bottom: 9%;
}

#bottom {
    text-align: center;
}

.listing {
    margin-top: 10%;

    .item {
        a:hover {

            &.theme-0 {
                color: $mango;

                h1,
                h2 {
                    color: $mango;
                }

                hr {
                    border-color: $mango;
                }

                svg path {
                    stroke: $mango;
                }
            }

            &.theme-1 {
                color: $green-blue;

                h1,
                h2 {
                    color: $green-blue;
                }

                hr {
                    border-color: $green-blue;
                }

                svg path {
                    stroke: $green-blue;
                }
            }
        }
    }

    @include phones {
        padding: 0.75rem;
    }
}
