@import "~src/styles/_variables";

#timeline {
  margin-top: 10%;
  width: 100%;

  p {
    @include pxtoem(18, 24);
    font-weight: 500;
    letter-spacing: 0;
    line-height: 29px;
    font-family: 'LunchtypeMedium';
  }

  #months {
    display: flex;
    align-content: space-around;
    width: 100%;

    @include phones {
      display: none;
    }

    h3 {
      font-size: 2em;
      flex-grow: 1;
      margin: 0;
    }
  }

  #phases {

    display: flex;
    align-content: space-around;
    counter-reset: item-counter;

    @include phones {
      flex-direction: column;
    }

    .counter {
      counter-increment: item-counter;

      &:after {
        content: " "counter(item-counter, upper-roman);
      }
    }

    div {
      text-align: center;
    }
  }

  hr {
    border: 2px solid black;
  }
}
