<cdn-image cloudinaryId="logos/media-logo" width="2139" alt="Masters of Media Design logo 1"></cdn-image>

<div class="columns hidden-mobile">
    <div id="btn" class="column is-5-tablet is-half-desktop">
        <app-button label="APPLY FOR FALL 2019" href="" ariaLabel="Go to Emerson application page"></app-button>
    </div>
    <div class="column">
        <cdn-image cloudinaryId="logos/design-logo" width="616" alt="Masters of Media Design logo 2"></cdn-image>
    </div>
</div>

<div id="btn" class="hidden-tablet-plus">
  <div id="mobile">
    <cdn-image cloudinaryId="logos/design-logo" width="149" alt="Masters of Media Design logo 2"></cdn-image>
  </div>  
    <app-button label="APPLY FOR FALL 2019" href="" ariaLabel="Go to Emerson application page"></app-button>
</div>

<hr />
<h1 class="column is-full-mobile is-half-tablet uppercase no-pad">Media Design MA</h1>
<h3 class="column is-full-mobile is-7-tablet no-pad blurb" [innerHtml]="content?.programDescription.html"></h3>
