<person-modal
    *ngIf="currentPerson"
    [person]="currentPerson"
    (onClose)="closePerson()"
></person-modal>
<h2 class="column is-5-tablet is-11-mobile">
    Social Impact Studios
</h2>
<div class="columns is-multiline">
    <div
        class="column is-5-desktop is-full-tablet is-11-mobile blurb"
        *ngIf="content"
    >
        <p [innerHtml]="content.studiosDescription.html"></p>
    </div>
    <div class="column">
        <cdn-image
            cloudinaryId="about/fall-studios-23_e0g3ya"
            width="700"
            alt="Make an impact. Register for a Social Impact Studio for the fall semester!"
            autoFormat="true"
            [responsive]="true"
        ></cdn-image>
    </div>
</div>
<h3 class="column is-full">Foundations Course</h3>
<div id="required-studios" class="columns is-multiline no-margin">
    <div
        *ngFor="let studio of requiredStudios; let odd = odd"
        class="column is-11-mobile"
        [class.is-half-tablet]="!odd"
    >
        <h4>{{ studio.name }}</h4>
        <p>{{ studio.semester }} Semester</p>
        <p>
            <em>Instructor<span *ngIf="studio.faculty.length > 1">s</span>:</em
            >&nbsp;
            <span *ngFor="let person of studio.faculty; let i = index">
                <a
                    class="href"
                    routerLink="/curriculum/studios/faculty/{{ person.key }}"
                    >{{ person.name.first }} {{ person.name.last }}</a
                ><span *ngIf="i < studio.faculty.length - 1"
                    >,&nbsp;</span
                ></span
            >
        </p>
        <p [innerHtml]="studio.description.html"></p>
        <div class="video" *ngIf="studio.video">
            <a
                id="video-thumb"
                [routerLink]=""
                (click)="embedVideo(studio.video)"
                *ngIf="!videoDisplay[studio.video].show"
            >
                <cdn-image
                    cloudinaryPrefix="/"
                    cloudinaryId="{{ studio.videoThumbnail.public_id }}"
                    autoFormat="true"
                    alt="Preview thumbnail image for {{
                        studio.name
                    }} introduction video."
                    *ngIf="
                        studio.videoThumbnail && studio.videoThumbnail.public_id
                    "
                ></cdn-image>
                <img
                    src="https://dummyimage.com/500x300/cfcfcf/ff0000.png&text=Needs+thumbnail"
                    alt="Preview image thumbnail for video with text saying 'Needs thumbnail'"
                    *ngIf="
                        !studio.videoThumbnail ||
                        !studio.videoThumbnail.public_id
                    "
                />
                <span class="icon">
                    <svg width="80" height="80" fill="none" viewBox="0 0 80 80">
                        <path
                            fill="#fff"
                            d="M40 0C17.92 0 0 17.92 0 40s17.92 40 40 40 40-17.92 40-40S62.08 0 40 0zM29.44 55.84V24.16L56.96 40 29.44 55.84z"
                        />
                    </svg>
                </span>
            </a>
            <div
                id="video-embed"
                class="embed"
                *ngIf="videoDisplay[studio.video].show"
            >
                <div class="frame">
                    <iframe
                        [src]="videoDisplay[studio.video].url"
                        frameborder="0"
                        allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>
                <script src="https://player.vimeo.com/api/player.js"></script>
            </div>
        </div>
    </div>
</div>

<h3 class="column is-half" *ngIf="content">
    {{ content.currentStudiosYear }} Studios
</h3>
<div id="studios" class="no-margin">
    <div *ngFor="let studio of studios; let odd = odd" class="studio">
        <h4>{{ studio.name }}</h4>
        <p>{{ studio.semester }} Semester</p>
        <p>
            <em>Instructor<span *ngIf="studio.faculty.length > 1">s</span>:</em
            >&nbsp;
            <span *ngFor="let person of studio.faculty; let i = index">
                <a
                    class="href"
                    routerLink="/curriculum/studios/faculty/{{ person.key }}"
                    >{{ person.name.first }} {{ person.name.last }}</a
                ><span *ngIf="i < studio.faculty.length - 1"
                    >,&nbsp;</span
                ></span
            >
        </p>
        <p [innerHtml]="studio.description.html"></p>
        <div class="video" *ngIf="studio.video">
            <a
                id="video-thumb"
                [routerLink]=""
                (click)="embedVideo(studio.video)"
                *ngIf="!videoDisplay[studio.video].show"
            >
                <cdn-image
                    cloudinaryPrefix="/"
                    cloudinaryId="{{ studio.videoThumbnail.public_id }}"
                    autoFormat="true"
                    alt="Preview thumbnail image for {{
                        studio.name
                    }} introduction video."
                    *ngIf="
                        studio.videoThumbnail && studio.videoThumbnail.public_id
                    "
                ></cdn-image>
                <img
                    src="https://dummyimage.com/500x300/cfcfcf/ff0000.png&text=Needs+thumbnail"
                    alt="Preview image thumbnail for video with text saying 'Needs thumbnail'"
                    *ngIf="
                        !studio.videoThumbnail ||
                        !studio.videoThumbnail.public_id
                    "
                />
                <span class="icon">
                    <svg width="80" height="80" fill="none" viewBox="0 0 80 80">
                        <path
                            fill="#fff"
                            d="M40 0C17.92 0 0 17.92 0 40s17.92 40 40 40 40-17.92 40-40S62.08 0 40 0zM29.44 55.84V24.16L56.96 40 29.44 55.84z"
                        />
                    </svg>
                </span>
            </a>
            <div
                id="video-embed"
                class="embed"
                *ngIf="videoDisplay[studio.video].show"
            >
                <div class="frame">
                    <iframe
                        [src]="videoDisplay[studio.video].url"
                        frameborder="0"
                        allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>
                <script src="https://player.vimeo.com/api/player.js"></script>
            </div>
        </div>
    </div>
</div>
