<person-modal
    *ngIf="currentPerson !== undefined"
    [person]="currentPerson"
    (onClose)="closePerson()"
></person-modal>
<div class="columns is-centered">
    <h2 class="column is-8">
        Join a growing community of
        <div style="clip-path: inset(0px 50px 16px 40px);">
            <div class="slider">
                <span id="makers">civic mediamakers.</span
                ><span id="designers">civic designers.</span>
                <span id="scholars">civic scholars.</span>
            </div>
        </div>
    </h2>
</div>
<people-grid [people]="alumni" [cohort]="true"></people-grid>
