<footer class="columns is-mobile is-multiline">
    <div
        id="logos"
        class="column is-full-mobile is-5-tablet is-one-quarter-desktop"
    >
        <cdn-image
            id="el"
            cloudinaryId="logos/logo-sm"
            width="70"
            alt="Engagement Lab small logo"
            role="img"
        ></cdn-image>
        <cdn-image
            id="emerson"
            cloudinaryId="logos/emerson-logo"
            width="168"
            alt="Emerson College"
            role="img"
        ></cdn-image>
    </div>

    <div id="contact" class="column is-full-mobile">
        <div id="social" class="columns column is-full is-mobile">
            <a
                href="https://www.facebook.com/EngagementLab"
                role="link"
                class="column"
                aria-label="Link to the Engagement Lab's Facebook page"
            >
                <cdn-image
                    cloudinaryId="logos/fb"
                    width="12"
                    svg="true"
                    alt="Facebook link image"
                ></cdn-image>
            </a>
            <a href="https://twitter.com/engagelab" role="link" class="column" 
                aria-label="Link to the Engagement Lab's Twitter profile">
                <cdn-image
                    cloudinaryId="logos/tw"
                    width="24"
                    svg="true"
                    alt="Twitter link image"
                ></cdn-image>
            </a>
            <a
                href="https://www.instagram.com/engagelab"
                role="link"
                class="column"
                aria-label="Link to the Engagement Lab's Instagram profile"
            >
                <cdn-image
                    cloudinaryId="logos/ig"
                    width="24"
                    svg="true"
                    alt="Instagram link image"
                ></cdn-image>
            </a>
            <a
                href="https://medium.com/engagement-lab-emerson-college"
                role="link"
                class="column"
                aria-label="Link to the Engagement Lab's publication on Medium"
            >
                <cdn-image
                    cloudinaryId="logos/med"
                    width="24"
                    svg="true"
                    alt="Medium link image"
                ></cdn-image>
            </a>
            <a
                href="https://github.com/engagementlab"
                role="link"
                class="column"
                aria-label="Link to the Engagement Lab's Github profile"
            >
                <cdn-image
                    cloudinaryId="logos/gh"
                    width="24"
                    svg="true"
                    alt="Github link image"
                ></cdn-image>
            </a>
        </div>
        <div id="address" class="is-11-mobile">
            <span id="email">engagementlab@emerson.edu</span><br />
            120 Boylston St. Boston, MA
            <span class="hidden-desktop">02116</span>
            <span class="hidden-mobile"><br />02116</span>
        </div>
    </div>
    <div id="footer-newsletter-wrap" class="column is-11-mobile">
        <h1 class="uppercase">Newsletter</h1>
        <div
            id="footer-newsletter"
            #newsletter
            [class.invalid]="emailFieldFocused && f.email.errors"
        >
            <form
                action="https://engagementgamelab.us6.list-manage.com/subscribe/post?u=8cb16e3042072f11cc0680d36&amp;id=e9f56f4f4d"
                method="post"
                id="subscribe-form"
                name="subscribe-form"
                class="validate"
                target="_blank"
                novalidate
                [formGroup]="emailForm"
            >
                <input
                    type="email"
                    placeholder="Your email"
                    name="EMAIL"
                    class="required email"
                    formControlName="email"
                    (focus)="emailFocus()"
                    width="400"
                    aria-label="Enter your email"
                />
                <input
                    type="submit"
                    value="Subscribe to Newsletter"
                    name="subscribe"
                    id="mc-embedded-subscribe"
                    class="button hidden"
                    (click)="submitNewsletter()"
                />
            </form>
            <div class="subscribed" #newsletterSubscribed>
                <svg
                    viewBox="0 0.406 31.06 24.118"
                    width="31.06"
                    height="24.118"
                >
                    <path
                        d="M 11.893 24.059 C 11.597 24.358 11.193 24.524 10.771 24.524 C 10.352 24.524 9.947 24.358 9.652 24.059 L 0.696 15.103 C -0.232 14.173 -0.232 12.667 0.696 11.739 L 1.818 10.619 C 2.748 9.689 4.252 9.689 5.18 10.619 L 10.771 16.21 L 25.879 1.102 C 26.809 0.174 28.315 0.174 29.244 1.102 L 30.363 2.224 C 31.293 3.154 31.293 4.662 30.363 5.588 Z M 11.893 24.059"
                    ></path>
                </svg>
                <span>
                    Thanks for joining!
                </span>
            </div>
            <button
                *ngIf="emailFieldFocused && !f.email.errors"
                (click)="submitNewsletter()"
            >
                <svg viewBox="0 0 32 23" width="32" height="23" fill="none">
                    <path
                        stroke="#000"
                        stroke-width="2"
                        d="M.5 11.309h29.788M19.968 1L30.5 11.5 19.968 22"
                    ></path>
                </svg>
            </button>
        </div>
        <div class="error" #newsletterError>
            You are already subscribed! Nice going!
        </div>
    </div>

    <div id="top" (click)="scrollToTop()">
        <span>&nbsp;</span>
        <div class="uppercase" role="button">top</div>
    </div>

    <div id="license" class="column is-full">
        <a
            rel="license"
            href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
            aria-label="Link to the Creative Commons license for the Engagement Lab"
        >
            <cdn-image
                cloudinaryId="logos/cc"
                width="130"
                svg="true"
                alt="Creative Commons License"
            ></cdn-image>
        </a>
        &nbsp; &nbsp;
        <a routerLink="/privacy">Privacy Policy</a>
        &nbsp; &nbsp;
        <a routerLink="/attributions">Attributions</a>
    </div>

    <div id="version">
        {{ appVersion }}
    </div>
</footer>
