<div #particles id="particles"></div>
<div *ngIf="content">
    <section id="intro" class="column columns is-centered is-multiline is-full">
        <h1
            class="column is-10-tablet is-8-desktop center"
            style="visibility: hidden;"
        >
            <span>Emerson's laboratory for collaborative</span>
            <span
                >&nbsp;<strong><a routerLink="/initiatives">learning</a></strong
                >, <strong><a routerLink="/curriculum">design</a></strong
                >, and
                <strong
                    ><a routerLink="/research/publications">research</a></strong
                >.</span
            >
        </h1>
        <div
            #tagline
            id="tagline"
            class="column is-10-tablet is-half-desktop center"
        >
            <div
                #taglineInner
                id="inner"
                class="no-margin"
                [innerHTML]="content.allAboutPages.tagline.html"
                style="visibility: hidden;"
            ></div>
        </div>
        <div id="newsletter-wrap" class="column is-full-tablet is-11-mobile">
            <div id="button" #newsletterBtn>
                <app-button
                    label="Join our newsletter"
                    ariaLabel="Button to open newsletter sign-up"
                    clickData="true"
                    class="medium"
                    (clickEvent)="openSignup()"
                ></app-button>
            </div>
            <div
                id="newsletter"
                #newsletter
                [class.invalid]="emailFieldFocused && f.email.errors"
            >
                <form
                    action="https://engagementgamelab.us6.list-manage.com/subscribe/post?u=8cb16e3042072f11cc0680d36&amp;id=e9f56f4f4d"
                    method="post"
                    id="mc-embedded-subscribe-form"
                    name="mc-embedded-subscribe-form"
                    class="validate"
                    target="_blank"
                    novalidate
                    [formGroup]="emailForm"
                >
                    <input
                        type="email"
                        placeholder="Your email"
                        name="EMAIL"
                        class="required email"
                        id="mce-EMAIL"
                        formControlName="email"
                        (focus)="emailFocus()"
                        width="400"
                        aria-label="Enter your email"
                    />
                    <input
                        type="submit"
                        value="Subscribe to Newsletter"
                        name="subscribe"
                        id="mc-embedded-subscribe"
                        class="button hidden"
                        aria-hidden="true"
                        (click)="submitNewsletter()"
                    />
                </form>
                <div class="subscribed" #newsletterSubscribed>
                    <svg
                        viewBox="0 0.406 31.06 24.118"
                        width="31.06"
                        height="24.118"
                    >
                        <path
                            d="M 11.893 24.059 C 11.597 24.358 11.193 24.524 10.771 24.524 C 10.352 24.524 9.947 24.358 9.652 24.059 L 0.696 15.103 C -0.232 14.173 -0.232 12.667 0.696 11.739 L 1.818 10.619 C 2.748 9.689 4.252 9.689 5.18 10.619 L 10.771 16.21 L 25.879 1.102 C 26.809 0.174 28.315 0.174 29.244 1.102 L 30.363 2.224 C 31.293 3.154 31.293 4.662 30.363 5.588 Z M 11.893 24.059"
                        ></path>
                    </svg>
                    <span>
                        Thanks for joining!
                    </span>
                </div>
                <button
                    *ngIf="emailFieldFocused && !f.email.errors"
                    (click)="submitNewsletter()"
                >
                    <svg viewBox="0 0 32 23" width="32" height="23" fill="none">
                        <path
                            stroke="#000"
                            stroke-width="2"
                            d="M.5 11.309h29.788M19.968 1L30.5 11.5 19.968 22"
                        ></path>
                    </svg>
                </button>
            </div>
            <div class="error" #newsletterError>
                You are already subscribed! Nice going!
            </div>
        </div>
    </section>

    <!-- news -->
    <section id="news-wrap">
        <div class="columns is-mobile is-multiline">
            <h1 class="column is-half uppercase">
                latest news
            </h1>

            <a class="column view" routerLink="news">
                <h1 class="uppercase">
                    view all&nbsp;
                </h1>
            </a>
        </div>
        <div class="columns is-mobile is-multiline no-margin">
            <!-- <div class="newsItem column is-full" *ngFor="let newsItem of news"> -->
            <div
                class="item column is-full-mobile"
                *ngFor="let newsItem of news; let i = index"
            >
                <a
                    class="internal"
                    routerLink="/news/{{ newsItem.key }}"
                    *ngIf="
                        !newsItem.externalLink ||
                        newsItem.externalLink.length === 0
                    "
                >
                    <cdn-image
                        cloudinaryPrefix="/"
                        cloudinaryId="{{ newsItem.thumbnail.publicId }}"
                        autoFormat="true"
                        [responsive]="true"
                        height="300"
                        [alt]="newsItem.thumbAltText"
                    ></cdn-image>
                    <p>{{ newsItem.title }}</p>
                </a>

                <!-- External link -->
                <a
                    class="external"
                    [href]="newsItem.externalLink"
                    *ngIf="
                        newsItem.externalLink &&
                        newsItem.externalLink.length > 0
                    "
                >
                    <cdn-image
                        cloudinaryPrefix="/"
                        cloudinaryId="{{ newsItem.thumbnail.publicId }}"
                        autoFormat="true"
                        [responsive]="true"
                        height="300"
                        [alt]="newsItem.thumbAltText"
                    ></cdn-image>
                    <p>
                        {{ newsItem.title }}
                        <svg viewBox="0 0 18 18" width="18" height="18">
                            <g
                                transform="matrix(0.063398, 0, 0, 0.063398, 0, 0)"
                            >
                                <g>
                                    <path
                                        class="arrow"
                                        d="M266.422,0h-97.625c-9.65,0-17.5,7.851-17.5,17.5c0,9.649,7.85,17.5,17.5,17.5h55.377l-92.375,92.374   c-3.307,3.305-5.127,7.699-5.127,12.375c0,4.676,1.819,9.069,5.125,12.371c3.306,3.309,7.699,5.13,12.375,5.13   c4.674,0,9.069-1.82,12.376-5.127l92.374-92.375v55.377c0,9.649,7.851,17.5,17.5,17.5c9.649,0,17.5-7.851,17.5-17.5V17.5   C283.922,7.851,276.071,0,266.422,0z"
                                        style="fill: #fff"
                                    ></path>
                                    <path
                                        d="M201.137,253.922H30V82.785h128.711l30-30H15c-8.284,0-15,6.716-15,15v201.137c0,8.284,6.716,15,15,15h201.137   c8.284,0,15-6.716,15-15V95.211l-30,30V253.922z"
                                        data-original="#000000"
                                        class="active-path"
                                        data-old_color="#000000"
                                        style="fill: #fff"
                                    ></path>
                                </g>
                            </g>
                        </svg>
                    </p>
                </a>
            </div>
            <!-- <a href="{{ newsItem.url }}">
          <cdn-image cloudinaryPrefix="/" cloudinaryId="{{ newsItem.image.public_id }}" autoFormat="true"
            [responsive]="true" height="300" alt="Image for '{{ newsItem.title }}' news item"></cdn-image>
            <p>{{ newsItem.title }}</p>
          </a> -->
        </div>
    </section>

    <!-- events -->
    <section id="events" class="listing">
        <hr class="thick" />
        <div class="columns is-mobile">
            <h1 class="column is-half-mobile is-half-tablet uppercase">
                Events
            </h1>
            <a class="column view" routerLink="/events">
                <h1 class="uppercase">
                    view all&nbsp;
                    <svg viewBox="0 0 32 23" width="32" height="23" fill="none">
                        <path
                            stroke="#000"
                            stroke-width="2"
                            d="M.5 11.309h29.788M19.968 1L30.5 11.5 19.968 22"
                        ></path>
                    </svg>
                </h1>
            </a>
        </div>

        <h3 *ngIf="!content.recentEvents || content.recentEvents.length === 0">
            No upcoming events. Check back soon!
        </h3>

        <div
            #eventList
            class="item column no-pad is-full"
            [class.first]="i === 0"
            *ngFor="let event of content.recentEvents; let i = index"
        >
            <a routerLink="/events/{{ event.key }}">
                <div class="columns is-mobile">
                    <!-- Tablet+ -->
                    <div class="date column is-one-fifth hidden-mobile">
                        {{ event.date | date: 'MMMM dd, yyyy' }}
                    </div>
                    <!-- Phone -->
                    <div class="date column is-one-fifth hidden-tablet-plus">
                        {{ event.date | date: 'MMM dd, yyyy' }}
                    </div>
                    <div class="name column no-margin no-pad">
                        <h2>
                            {{ event.name }}
                        </h2>
                        <p class="medium">{{ event.shortDescription }}</p>
                    </div>
                </div>

                <hr />
            </a>
        </div>
    </section>
    <!--
    <section id="projects" class="column columns is-full">
        <h1 class="column is-full-mobile is-half uppercase">
            [Featured project here]
        </h1>
        <h1 class="column uppercase">[MD student/project here]</h1>
    </section> -->
</div>
