@import '~src/styles/_variables';

@include keyframes(check) {

  0% {
    opacity: 0;
    @include scale(0);
  }

  100% {
    opacity: 1;
    @include scale(1);
  }
}

@include keyframes(subscribed) {

  0% {
    opacity: 0;
    clip-path: inset(0 100% 0 0);
  }

  100% {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

a {
  color: black;

  &:visited {
    color: black;
  }

  &.view {

    display: flex;
    justify-content: center;

    h1 {
      display: flex;

      font-family: 'Overpass';
      font-size: 1em;
      font-weight: 600;
      letter-spacing: normal;
    }

    svg {
      @include transition(transform, .2s, ease-in-out);
    }

    &:hover {
      svg {
        @include translate(15%);
      }
    }

    @include not-phones {
      justify-content: flex-end;
    }

    @include phones {
      svg {
        max-width: 16px;
      }
    }

  }
}

#intro {

  padding-bottom: 12%;

  h1 {
    font-weight: 300;
    @include pxtoem(32, 48);

    a {
      border-bottom: 1px solid black;
    }

    strong {
      font-weight: 300;

      &:nth-of-type(1) {
        color: $mango;
      }

      &:nth-of-type(2) {
        color: $tomato;
      }

      &:nth-of-type(3) {
        color: $green-blue;
      }
    }
  }

  #tagline {

    font-family: 'LunchtypeMedium';
    @include pxtoem(28, 36);
    line-height: 1.41;
    letter-spacing: 0.5px;

    ::ng-deep p {
      strong {
        &:nth-child(1) {
          color: $tomato;
        }

        &:nth-child(2) {
          color: $green-blue;
        }

        &:nth-child(3) {
          color: $mango;
        }
      }
    }

  }

  #button {
    position: relative;
    display: inline-block;
    width: 460px;
    z-index: 2;
    @include transition(all, .2s, cubic-bezier(0.860, 0.000, 0.070, 1.000));
    transform-origin: top center;

    &.closed {
      @include translate(0, -100%);
      opacity: 0;
    }

    @include phones {
      width: 100%;
    }

  }

  // MC Email form
  #newsletter-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    #error {
      display: none;
      opacity: 0;
      @include transition(all, .4s, cubic-bezier(0.860, 0.000, 0.070, 1.000));

      &.open {
        display: block;
        opacity: 1;
      }
    }
  }

  #newsletter {
    @include translate(0, -100%);
    justify-content: space-between;
    width: 460px;
    border-bottom: solid 2px black;
    opacity: 0;

    @include transition(all, .4s, cubic-bezier(0.860, 0.000, 0.070, 1.000));

    @include phones {
      width: 100%;
    }

    &.open {
      @include translate(0);
      opacity: 1;
    }

    &.done {

      // border-width: 0;

      form,
      button {
        display: none;
      }

      #subscribed {
        display: block;

        span {
          animation: subscribed 1s cubic-bezier(1.000, 0.000, 0.000, 1.000) .6s 1 forwards;
        }

        svg {
          animation: check .6s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1 forwards;

        }
      }
    }

    &.invalid {
      border-bottom-color: $tomato;
    }

    h3 {
      font-size: 1em;
    }

    form {
      width: 100%;
      @include transition(all, .4s, cubic-bezier(0.860, 0.000, 0.070, 1.000));
    }

    input[type=email] {
      width: 100%;
      font-family: 'LunchtypeRegular';
      font-size: 1.5em;
      color: black;
      opacity: 1;
      border: none;

      padding-bottom: 2%;
      padding-left: 4%;

      @include placeholder {
        font-family: 'LunchtypeRegular';
        color: black;
        opacity: 1;
      }
    }

    button {
      display: inline-block;
      cursor: pointer;
      @include transition(all, .3s, ease-in-out);

      &:hover {
        @include translate(15%, 0);
      }
    }

  }

  #subscribed {
    display: none;

    span {
      clip-path: inset(0 100% 0 0);
    }

    svg {
      @include scale(0);
      opacity: 0;
    }

    font-family: 'LunchtypeRegular';
    font-size: 1.5em;
  }

}

#event {

  font-family: 'Overpass';
  font-size: .9em;
  font-weight: 600;

  line-height: 1.29;
  letter-spacing: 0.8px;

  margin-top: 10%;

  div {
    background-color: black;
    color: white;
  }

  #day {
    border-right: solid 2px white;
    text-align: center;
  }

  .view {
    padding-top: 4%;
  }

  a:hover {
    .view {
      text-decoration: underline;
    }
  }

}

#news-wrap {

  background-color: black;
  color: white;

  padding: 2%;
  margin-top: 17%;

  a,
  h1 {
    color: white;
  }

  h1 {
    font-size: 1.12em;
  }

  p {
    &.name {
      margin-bottom: 1%;
      font-size: 1.5em;
      font-weight: 500;
      line-height: 1.17;
      letter-spacing: 0.5px;
    }

    &.type {
      line-height: 1.25;
      letter-spacing: 1.3px;
    }

    &.byline {
      font-size: 1em;
      line-height: 1.25;
      letter-spacing: 0.3px;
    }
  }

  #news {
    padding-left: 2%;
    padding-right: 6%;
  }

  .item {
    @include phones {
      padding: 0;
    }
  }

}

#events {

  margin-top: 10%;

  @include phones {
    margin-top: 35%;
  }

  h1 {
    font-size: 1.12em;
  }

  h2 {
    font-size: 3.1em;
    line-height: 1.07;
    letter-spacing: 1.3px;

    @include mobile-only {
      font-size: 2.2em;
    }
  }

  .item {

    // What a fustercluck of padding
    &:not(.first) {
      .columns {
        margin-top: 5%;
      }
    }

    &.first {
      margin-top: 3%;
    }

    .columns {
      margin-bottom: 5.5%;
    }

    .date {
      font-size: 1.9em;

      @include not-phones {
        padding-top: 0;
      }

      @include mobile-only {
        font-size: 1.55em;
      }
    }
  }

}
