<app-nav></app-nav>

<h3 id="errors" *ngIf="dataErrors">
    <p>Data service errors:</p>
    <span>
        {{ dataErrors }}
    </span>
</h3>

<div id="menu-overlay"></div>
<div
    *ngIf="!dataErrors || dataErrors.length < 1"
    [@routerAnimations]="prepareRouteTransition(outlet)"
>
    <router-outlet #outlet="outlet"></router-outlet>
</div>
<app-footer></app-footer>

<!-- QA Build Banner -->
<div *ngIf="isQABuild === true" id="qa-build">
    <img
        src="//res.cloudinary.com/engagement-lab-home/image/upload/v1544209738/homepage-2.0/qa-build.svg"
        style="max-width:50px"
        alt="QA Build icon"
    />
    <span id="text">QA BUILD</span>
    <div>Work in progress. Not intended for external use.</div>
</div>
