
@import '../styles/_variables';

#menu {
    position: fixed;
    z-index: 2;
    background-color: $dark-sky-blue;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
}

#qa-build {
	position: fixed;
	bottom: 100%;
	left: 0;
	right: 0;
	color: white;
	background-color: $tomato;
	text-align: center;
	font-weight: bold;
	font-size: large;
	z-index: 100;

	#text {
		font-size: xx-large;
	}
	span {
		vertical-align: top;
	}
	
}