<div id="home-bg" class="bg">
    <div id="slides">
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>
<div id="project-bg" class="bg"></div>

<!-- QA Build Banner/Border -->
<div *ngIf="isQABuild === true" id="qa-build">
    <svg viewBox="0 14.759 50 47.117" width="50" height="47.117">
        <path
            d="M 48.961 50.813 L 31.299 18.344 C 28.461 13.567 21.543 13.561 18.702 18.344 L 1.04 50.813 C -1.861 55.695 1.651 61.876 7.337 61.876 L 42.663 61.876 C 48.344 61.876 51.862 55.7 48.961 50.813 Z M 25 56.017 C 23.385 56.017 22.07 54.702 22.07 53.087 C 22.07 51.472 23.385 50.158 25 50.158 C 26.615 50.158 27.93 51.472 27.93 53.087 C 27.93 54.702 26.615 56.017 25 56.017 Z M 27.93 44.298 C 27.93 45.913 26.615 47.228 25 47.228 C 23.385 47.228 22.07 45.913 22.07 44.298 L 22.07 29.65 C 22.07 28.035 23.385 26.72 25 26.72 C 26.615 26.72 27.93 28.035 27.93 29.65 L 27.93 44.298 Z"
            style="fill: rgb(255, 255, 255);"
        ></path>
    </svg>
    <span id="text">QA BUILD</span>
    <div>Work in progress. Not intended for external use.</div>
</div>

<div *ngIf="isQABuild === true" id="qa-border"></div>
<app-nav></app-nav>

<!-- Show on all studios pages -->
<section *ngIf="showStudiosNav" class="container desktop">
    <nav id="subnav-studios" class="uppercase subnav flex">
        <a
            routerLink="/studios"
            [class.active]="subNavitemActive('/studios')"
            [attr.aria-label]="'Link to go to studios landing page'"
            ><span>Studios</span></a
        >
        <a
            routerLink="/studios/partner"
            [class.active]="subNavitemActive('/studios/partner')"
            [attr.aria-label]="'Link to go to Partnered Studio page'"
            ><span>Partnered Studio</span></a
        >
        <a
            routerLink="/studios/thesis"
            [class.active]="subNavitemActive('/studios/thesis')"
            [attr.aria-label]="'Link to go to Graduate Thesis Studio page'"
            ><span>Graduate Thesis Studio</span></a
        >
        <a
            routerLink="/studios/cocurricular"
            [class.active]="subNavitemActive('/studios/cocurricular')"
            [attr.aria-label]="'Link to go to Co-Curricular Studio page'"
            ><span>Co-Curricular Studio</span></a
        >
    </nav>
</section>
<!-- Show on all research pages -->
<nav
    *ngIf="showResearchNav"
    id="subnav-research"
    class="subnav"
    [class.white]="initiativeActive()"
>
    <div class="columns is-mobile is-multiline uppercase no-margin">
        <a
            class="column is-2-tablet is-full-mobile border"
            routerLink="/research/projects"
            [class.active]="subNavitemActive('/research/projects')"
            [attr.aria-label]="'Link to go to projects page'"
            ><span>
                Projects
            </span></a
        >
        <a
            class="column is-2-tablet is-full-mobile border"
            routerLink="/research/publications"
            [class.active]="subNavitemActive('/research/publications')"
            [attr.aria-label]="'Link to go to publications page'"
            ><span>
                Publications
            </span>
        </a>
        <a
            #initiativesBtn
            id="initiatives-btn"
            class="column is-full-mobile hidden-not-mobile"
            [attr.aria-label]="'Button to fold out initiatives menu'"
            (click)="toggleInitiatives()"
            ><span>
                Initiatives
                <svg viewBox="0 117.325 10 5.218" width="10" height="5.218">
                    <g
                        transform="matrix(0.020381, 0, 0, 0.020381, -0.000001, 114.933815)"
                    >
                        <g>
                            <path
                                d="M487.536,120.445c-4.16-4.16-10.923-4.16-15.083,0L245.339,347.581L18.203,120.467c-4.16-4.16-10.923-4.16-15.083,0
                              c-4.16,4.16-4.16,10.923,0,15.083l234.667,234.667c2.091,2.069,4.821,3.115,7.552,3.115s5.461-1.045,7.531-3.136l234.667-234.667
                              C491.696,131.368,491.696,124.605,487.536,120.445z"
                                [class.white]="initiativeActive()"
                            ></path>
                        </g>
                    </g>
                </svg>
            </span>
        </a>
        <div #initiativesEl id="initiatives" class="column is-full-mobile">
            <a
                *ngFor="let initiative of initiatives"
                [routerLink]="'/research/initiatives/' + initiative.key"
                [class.active]="
                    subNavitemActive('/research/initiatives/' + initiative.key)
                "
                [attr.aria-label]="
                    'Link to go to ' + initiative.name + ' initiative'
                "
            >
                <span>
                    {{ initiative.name }}
                </span>
            </a>
        </div>
    </div>
</nav>
<!-- Show on all grad pages -->
<nav *ngIf="showGradNav" id="subnav" class="subnav">
    <div class="columns is-mobile is-multiline uppercase no-margin">
        <div class="column is-half-mobile">
            <a
                routerLink="/graduate/curriculum"
                [class.active]="subNavitemActive('/graduate/curriculum')"
                [attr.aria-label]="
                    'Link to go to graduate program curriculum page'
                "
                ><span>Curriculum + Faculty</span></a
            >
        </div>
        <div class="column">
            <a
                routerLink="/graduate/students"
                [class.active]="subNavitemActive('/graduate/students')"
                [attr.aria-label]="
                    'Link to go to graduate program students and alumni page'
                "
                ><span>Students + Alumni</span></a
            >
        </div>
        <div class="column is-half-mobile">
            <a
                routerLink="/graduate/projects"
                [class.active]="subNavitemActive('/graduate/projects')"
                [attr.aria-label]="
                    'Link to go to graduate program thesis projects page'
                "
                ><span>Thesis Projects</span></a
            >
        </div>
        <div class="column">
            <a
                routerLink="/graduate/apply"
                [class.active]="subNavitemActive('/graduate/apply')"
                [attr.aria-label]="
                    'Link to go to graduate program info and application page'
                "
                ><span>Apply</span></a
            >
        </div>
    </div>
</nav>

<section class="container desktop">
    <h3 id="errors" *ngIf="dataErrors">
        <p>Data service errors:</p>
        <span>
            {{ dataErrors }}
        </span>
    </h3>

    <div id="menu-overlay"></div>
    <div *ngIf="!dataErrors || dataErrors.length < 1">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <app-footer></app-footer>
</section>

<!-- Attributions
Somem icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
-->
