<section id="attributions">
    <div>
        <h1>
            <span>
                Open-Source Attributions
            </span>
        </h1>
        <p>
            Anybody is free to fork the code for this app on
            <a
                href="https://github.com/engagementlab/engagement-lab-website-2.x"
                >our Github</a
            >.
        </p>
        <h4>Tools/Backend</h4>
        <ul>
            <li>
                <a href="https://www.apollographql.com/">Apollo</a> for GraphQL
                schema creation, querying
            </li>
            <li>
                <a href="https://github.com/axios/axios">axios</a> to assist
                with static route generation
            </li>
            <li>
                <a href="https://www.keystonejs.com/">KeystoneJS</a> v4.2.1
                (forked) for content management
            </li>
            <li>
                <a href="https://www.npmjs.com/package/ismobilejs"
                    >ismobilejs</a
                >
                for device type detection
            </li>
            <li>
                <a href="https://mongoosejs.com/">Mongoose</a> for Mongo data
                modeling
            </li>
            <li>
                <a href="https://scully.io/">Scully</a> for static site
                generation
            </li>
            <li>
                <a href="https://underscorejs.org/">Underscore.js</a> for
                numerous logical operations
            </li>
        </ul>
        <h4>Visuals</h4>
        <ul>
            <li>
                <a href="https://bulma.io/">Bulma</a> responsive flexbox
                framework
            </li>
            <li>
                <a href="https://github.com/sass-mq/sass-mq">sass-mq</a> media
                query SCSS mixin
            </li>
            <li>
                <a href="https://github.com/nicky-lenaers/ngx-scroll-to"
                    >ngx-scroll-to</a
                >
                package for some interactions
            </li>

            <li>
                <a href="https://github.com/ganlanyuan/tiny-slider"
                    >tiny-slider</a
                >
                for slideshow components
            </li>
            <li>
                Some icons made by
                <a
                    href="https://www.flaticon.com/authors/pixel-perfect"
                    title="Pixel perfect"
                    >Pixel perfect</a
                >
                from
                <a href="https://www.flaticon.com/" title="Flaticon"
                    >flaticon</a
                >
            </li>
            <li>
                Some icons made by
                <a
                    href="https://www.flaticon.com/authors/freepik"
                    title="Freepik"
                    >Freepik</a
                >
                from
                <a href="https://www.flaticon.com/" title="Flaticon">
                    flaticon</a
                >
            </li>
            <li>
                line SVG by projecthayat from the
                <a
                    href="https://thenounproject.com/search/?q=line&i=1842014"
                    title="Noun Project"
                >
                    Noun Project</a
                >
            </li>
        </ul>
    </div>
</section>
