@import '~src/styles/_variables';

.gutter-sizer {
  width: 5%;
}

.img {
  width: 45%;
  margin-bottom: 4%;

  @include phones {
    width: 100%;
  }
}

.desc {
  font-size: .8em;
  letter-spacing: 0;
  line-height: 18px;
}
