<h2 class="column is-half-mobile is-full-tablet no-pad">
    How to get involved with the Lab
</h2>
<h3 class="column is-full-mobile is-8-tablet no-pad">{{ content?.blurb }}</h3>

<section id="portfolio" *ngIf="content !== undefined">
    <div class="columns is-mobile is-centered is-multiline">
        <div class="column is-11-mobile">
            <div class="icon tomato">
                <cdn-image
                    cloudinaryId="contact/student-icon"
                    width="100"
                    alt="Students and Researchers icon image"
                ></cdn-image>
            </div>
            <h3>Students and Researchers</h3>
            {{ content?.students }}
            <div class="link">
                <a routerLink="/graduate" class="animate">Find out more</a>
            </div>
        </div>

        <div class="column is-11-mobile">
            <div class="icon gb">
                <cdn-image
                    cloudinaryId="contact/partner-icon"
                    width="100"
                    alt="Community Partners icon image"
                ></cdn-image>
            </div>
            <h3>Community Partners</h3>
            {{ content?.community }}
            <div class="link">
                <a routerLink="/partner" class="animate">Get in touch</a>
            </div>
        </div>
    </div>
</section>
