<div class="controls" *ngIf="pubTypesCount !== undefined">
    <button type="button" class="control" data-filter="all">All <sup>{{pubTypesTotal}}</sup></button>
    <button type="button" class="control" data-filter=".book">Books <sup>{{pubTypesCount['book']}}</sup></button>
    <button type="button" class="control" data-filter=".guide">Guides <sup>{{pubTypesCount['guide']}}</sup></button>
    <button type="button" class="control" data-filter=".article-chapter">Articles <sup>{{pubTypesCount['article-chapter']}}</sup></button>
</div>

<div id="publications">
    
  <!-- Books -->
  <div class="columns is-multiline">
    <div #publicationsList class="publication column mix {{pub.form.key}}" *ngFor="let pub of pubs">
      <publication [pub]="pub" type="{{pub.form.key}}"></publication>
    </div>
  </div>

  <!-- Guides -->
  <!-- <div id="guides" class="columns is-multiline mix guide">
    <div class="publication column is-one-third" *ngFor="let guide of guides">
        <publication [pub]="guide" type="guide" attr.class="{{guide.form.key}}"></publication>
    </div>
  </div>

  <div id="articles" class="columns is-multiline mix article">
    <div class="publication column is-one-third" *ngFor="let article of articles">
        <publication [pub]="article" type="article" attr.class="{{article.form.key}}"></publication>
    </div>
  </div> -->

</div>
