@import "~src/styles/_variables";

.controls {

    button {
        font-family: 'LunchtypeRegular';
        font-size: 1.4em;
        &.mixitup-control-active {
            font-weight: bold;
        }
    }

}

#publications {
    
    .columns {
        margin-top: 5%;
        
    }

    .publication {
        flex-basis: 47%;
        margin-top: 2%;

        @include phones {
            flex-basis: 100%;
        }
        @include tablet-portrait {
            flex-basis: 33%;
        }
    }
}