@import "~src/styles/_variables";

.controls {

    button {
        font-family: 'LunchtypeRegular';
        font-size: 1.4em;
    }

}

#publications {
    margin-top: 5%;

    .publication {
        width: 47%;
    }
}