@import "~src/styles/_variables";

h2 {
    font-family: 'LunchtypeRegular';
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.29;
    letter-spacing: 0.3px;
    margin-top: 0;
}

h3 {
    font-family: 'LunchtypeMedium';
    font-size: .9em;
    font-weight: 500;
    line-height: 1.44;
    letter-spacing: 0.5px;
}

.top {
    display: flex;
    .icon {
        flex: 1 0 9%;
        margin-right: 3%;
        max-width: 49px;
    }
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
        display: flex;
        align-items: center;
    }
}

.book {

    .icon {
        .bg {
            @include circular-background($tomato);
        }
    }

    hr {
        border: 2px solid $tomato;
    }

    span {
        font-family: 'Overpass';
        font-weight: 500;
        font-size: 1.2em;
        color: $tomato;
    }
}