/**
 * Engagement Lab SCSS Mixin Library
 * 
 * created by Johnny Richardson
 * 2017-19
 * ==========
 */

//  You must specify these vars before importing this package:
$cloudinary-account: 'cloudinary' !default;
$cdn-product: 'homepage' !default;

@import '_animation';
@import '_breakpoint';
@import '_placeholder';
@import '_pxem';
@import '_transforms';

/**
* Apply any type of filter to element.
* @usage: 
    filter(grayscale, 100%), etc:
    sepia          -> filter: sepia(100%);
    saturate       -> filter: saturate(0%);
    hue-rotate     -> filter: hue-rotate(45deg);
    invert         -> filter: invert(100%);
    brightness     -> filter: brightness(15%);
    contrast       -> filter: contrast(200%);
    blur           -> filter: blur(2px);
*/
@mixin filter($filter-type, $filter-amount) {
    -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
    -moz-filter: $filter-type+unquote('(#{$filter-amount})');
    -ms-filter: $filter-type+unquote('(#{$filter-amount})');
    -o-filter: $filter-type+unquote('(#{$filter-amount})');
    filter: $filter-type+unquote('(#{$filter-amount})');
}

/**
* Apply box shadow to element.
* @usage: box-shadow(2px, 2px, 2px, 1px, rgba(0, 0, 0, 0.2))
*/
@mixin box-shadow($top, $left,  $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow: inset $top $left $blur $color;
        -moz-box-shadow: inset $top $left $blur $color;
        box-shadow: inset $top $left $blur $color;
    }

    @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}

/**
* Apply border radius to element.
* @usage: border-radius(20)
*/
@mixin border-radius($radius) {

    -webkit-border-radius: #{$radius + "px"};
    -moz-border-radius: #{$radius + "px"};
    border-radius: #{$radius + "px"};

}

/**
* Apply border radius to element.
* @usage: border-radius(20)
*/
@mixin circular-background($color) {

    background: -moz-radial-gradient(center, ellipse cover, $color 1%, $color 70%, white 1%);
    background: -webkit-radial-gradient(center, ellipse cover, $color 1%, $color 70%, white 1%);
    background: radial-gradient(ellipse at center, $color 1%, $color 70%, white 1%);
}

/**
* Create inline URL to Cloudinary-hosted image with any specified transforms.
* @usage: cdn-image('bg/home-bg', f_auto, c_scale, w_1280);
*/
@function cdn-image($imgName, $options...) {

    $imgParams: ();
    $version: random(500000) + 10000000;
    $strPrefix: "https://res.cloudinary.com/#{$cloudinary-account}/image/upload/";

    @each $value in $options {
        $strPrefix: $strPrefix + ","+ $value;
    }

    @return url("#{$strPrefix}/v#{$version}/#{$cdn-product}/#{$imgName}");
}