@import '~src/styles/_variables';
@import '~src/styles/_mixins';

h3 {
    @include font-lunchtype-med;
}

#buttons {
    display: inline-flex;
    justify-content: space-around;

    @include phones {
        flex-direction: column;
    }
}

#types {
    @include phones {
        margin: 0;
    }
}

#partners {
    @include phones {
        @include ng-img {
            width: 100% !important;
        }
    }
}

#filters {
    @include font-overpass;
    width: 100%;

    a {
        cursor: pointer;

        // Current filter
        &.mixitup-control-active {
            text-decoration: underline;
        }
    }

    .bold {
        font-weight: 900;
    }

    .controls {
        @include phones {
            display: flex;
            flex-direction: column;
        }

        a {
            margin-right: 2%;

            &:hover,
            &.active {
                border-bottom: 1px solid black;
            }
        }
    }
}

.type {
    padding: 0;
    a {
        display: block;
        width: 90%;

        ::ng-deep img {
            padding: 1%;
        }
    }

    h4 {
        font-size: 1.7em;
        margin-bottom: 0;
    }
}
