<!-- Studios intro -->
<section id="intro" class="columns is-mobile" *ngIf="content">
    <div class="column is-half-tablet is-10-mobile">
        <h2>Studios</h2>
        <h3 class="blurb">{{ content.studiosIntro.summary }}</h3>
    </div>
</section>

<section
    id="types"
    class="columns is-mobile is-multiline is-centered no-margin"
    *ngIf="content"
>
    <div class="column is-full">
        <h1 class="uppercase">
            Studios
        </h1>
    </div>

    <div id="status" class="columns column is-full is-mobile">
        <span class="bold">Filter:</span>
        <span class="controls column flex">
            <a
                aria-label="Button to filter projects by any status"
                data-toggle="all"
                (click)="applySelector(null)"
                [class.active]="!currentStudio"
            >
                <h4>
                    All
                </h4>

                <cdn-image
                    cloudinaryPrefix="/"
                    cloudinaryId="{{
                        content.studiosIntro.graduateThesisThumbnail.public_id
                    }}"
                    width="250"
                    autoFormat="true"
                    [responsive]="true"
                    alt="Thumbnail image for filtering by all studios"
                ></cdn-image>
            </a>
            <a
                *ngFor="let initiative of content.allStudioInitiatives"
                [attr.aria-label]="
                    'Button to filter studios belonging to ' +
                    initiative.name +
                    ' initiative'
                "
                [class.active]="
                    currentStudio && currentStudio.key === initiative.key
                "
                (click)="applySelector(initiative.key)"
            >
                <h4>
                    {{ initiative.name }}
                </h4>
                <cdn-image
                    cloudinaryPrefix="/"
                    cloudinaryId="{{ initiative.thumb.public_id }}"
                    width="250"
                    [alt]="'Thumbnail image for initiative ' + initiative.name"
                ></cdn-image
            ></a>
        </span>
    </div>

    <div
        class="column is-full-mobile type"
        *ngFor="let studio of content.allStudios"
    >
        <a
            routerLink="/studios/studio/{{ studio.key }}"
            *ngIf="isSelected(studio.key)"
            [@inOutAnimation]
        >
            <cdn-image
                cloudinaryPrefix="/"
                cloudinaryId="{{ studio.thumb.public_id }}"
                width="301"
                autoFormat="true"
                [responsive]="true"
                [alt]="'Thumbnail image for studio ' + studio.name"
            ></cdn-image>
            <h1 class="uppercase sm no-margin">{{ studio.name }}</h1>
        </a>
    </div>
    <!--    
    <div class="column is-full-mobile type">
        <a routerLink="/studios/partnered">
            <cdn-image
                cloudinaryPrefix="/"
                cloudinaryId="{{ content.partneredStudiosThumbnail.public_id }}"
                width="400"
                autoFormat="true"
                [responsive]="true"
                alt="Thumbnail image for partnered studios link"
            ></cdn-image>
            <h3 class="blurb">Partnered Studio</h3>
            <h1 class="uppercase sm no-margin">Duration</h1>
            <span>1 Semester</span>
        </a>
    </div> 
    <div class="column is-full-mobile type">
        <a routerLink="/studios/thesis">
            <cdn-image
                cloudinaryPrefix="/"
                cloudinaryId="{{ content.graduateThesisThumbnail.public_id }}"
                width="400"
                autoFormat="true"
                [responsive]="true"
                alt="Thumbnail image for graduate thesis studios link"
            ></cdn-image>
            <h3 class="blurb">Graduate Thesis Studio</h3>
            <h1 class="uppercase sm no-margin">Duration</h1>
            <span>1 Year</span>
        </a>
    </div>
    <div class="column is-full-mobile type">
        <a routerLink="/studios/cocurricular">
            <cdn-image
                cloudinaryPrefix="/"
                cloudinaryId="{{ content.cocurricularThumbnail.public_id }}"
                width="400"
                autoFormat="true"
                [responsive]="true"
                alt="Thumbnail image for cocurricular studios link"
            ></cdn-image>
            <h3 class="blurb">Co-curricular Studio</h3>
            <h1 class="uppercase sm no-margin">Duration</h1>
            <span>1 Year</span>
        </a>
    </div>
     -->
</section>
