<!-- Studios intro -->
<section id="intro" class="columns is-mobile" *ngIf="content">
    <div class="column is-half-tablet is-10-mobile">
        <h2>Studios</h2>
        <h3 class="blurb">{{ content.summary }}</h3>
    </div>
</section>

<section
    id="types"
    class="columns is-mobile is-multiline is-centered no-margin"
    *ngIf="content"
>
    <div class="column is-full">
        <h1 class="uppercase">
            Studio Types
        </h1>
    </div>
    <div class="column is-full-mobile type">
        <a routerLink="/studios/partner">
            <cdn-image
                cloudinaryPrefix="/"
                cloudinaryId="{{ content.partneredStudiosThumbnail.public_id }}"
                width="400"
                autoFormat="true"
                [responsive]="true"
                alt="Thumbnail image for partnered studios link"
            ></cdn-image>
            <h3 class="blurb">Partnered Studio</h3>
            <h1 class="uppercase sm no-margin">Duration</h1>
            <span>1 Semester</span>
        </a>
    </div>
    <div class="column is-full-mobile type">
        <a routerLink="/studios/thesis">
            <cdn-image
                cloudinaryPrefix="/"
                cloudinaryId="{{ content.graduateThesisThumbnail.public_id }}"
                width="400"
                autoFormat="true"
                [responsive]="true"
                alt="Thumbnail image for graduate thesis studios link"
            ></cdn-image>
            <h3 class="blurb">Graduate Thesis Studio</h3>
            <h1 class="uppercase sm no-margin">Duration</h1>
            <span>1 Year</span>
        </a>
    </div>
    <div class="column is-full-mobile type">
        <a routerLink="/studios/cocurricular">
            <cdn-image
                cloudinaryPrefix="/"
                cloudinaryId="{{ content.cocurricularThumbnail.public_id }}"
                width="400"
                autoFormat="true"
                [responsive]="true"
                alt="Thumbnail image for cocurricular studios link"
            ></cdn-image>
            <h3 class="blurb">Graduate Thesis Studio</h3>
            <h1 class="uppercase sm no-margin">Duration</h1>
            <span>1 Year</span>
        </a>
    </div>
</section>
<!-- 
<section id="partners" class="columns is-multiline is-mobile">
    <div class="column is-11-mobile is-full-tablet">
        <hr class="thick" />
        <h1 class="uppercase">
            Organizations we work with
        </h1>
    </div>
    <div
        class="column is-1-tablet is-2-mobile"
        *ngFor="let partner of partners"
    >
        <cdn-image
            cloudinaryPrefix="/"
            cloudinaryId="{{ partner.image.public_id }}"
            width="130"
            alt="Icon for {{ partner.name }} partner "
        ></cdn-image>
    </div>
    <div id="buttons" class="column is-full-tablet is-11-mobile">
        <app-button
            route="/partner"
            label="Information For Partners"
            ariaLabel="Button to go to Information For Partners"
            class="medium"
        ></app-button>
        <app-button
            route="/graduate"
            label="Information For Students"
            ariaLabel="Button to go to Information For Students"
            class="medium"
        ></app-button>
    </div>
</section> -->
