@import '~src/styles/_variables';
@import '~src/styles/_mixins';

h3 {
    @include font-lunchtype-med;
}

#buttons {
    display: inline-flex;
    justify-content: space-around;

    @include phones {
        flex-direction: column;
    }
}

#types {
    @include phones {
        margin: 0;
    }
}

#partners {
    @include phones {
        @include ng-img {
            width: 100% !important;
        }
    }
}

.controls {
    display: flex;
    flex-direction: row;
    a {
        min-width: 250px;
        &:not(:first-child) {
            margin-left: 3%;
        }
        &:hover {
            text-decoration: underline;
        }
        &.active {
            opacity: 0.6;
            filter: grayscale(0.2);
            cursor: default;
            text-decoration: underline;
        }
    }
}

.type {
    a {
        display: block;
        width: 100%;
    }

    h4 {
        font-size: 1.7em;
        margin-bottom: 0;
    }
}
