<div class="people-grid" [class.cohort]="cohort">
    <div *ngIf="preview === true" id="top">
        <h1 class="uppercase">{{ title }}</h1>

        <div id="right">
            <a [routerLink]="cohort ? '/masters/people' : '/people'">
                <h4>view all</h4>
            </a>

            <div id="controls">
                <button
                    id="prev"
                    type="button"
                    class="control"
                    aria-label="Button to go to previous page of people in slider"
                >
                    <svg width="32" height="24" fill="none" viewBox="0 0 32 24">
                        <path
                            stroke="#000"
                            stroke-width="2"
                            d="M31.5 12.191H1.712M12.032 22.5L1.5 12 12.032 1.5"
                        />
                    </svg>
                </button>
                <button
                    id="next"
                    type="button"
                    class="control"
                    aria-label="Button to go to next page of people in slider"
                >
                    <svg width="32" height="23" fill="none" viewBox="0 0 32 23">
                        <path
                            stroke="#000"
                            stroke-width="2"
                            d="M.5 11.309h29.788M19.968 1L30.5 11.5 19.968 22"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="list" [class.is-multiline]="!preview">
        <div
            #teamList
            class="person view-tooltip"
            [class.blank]="person.name === 'dummy'"
            *ngFor="let person of people; let i = index"
        >
            <a
                *ngIf="person.name != 'dummy'"
                [class.white]="preview === true"
                [routerLink]="getModalRoute(person.key)"
            >
                <div class="bg">
                    <span role="tooltip">view</span>

                    <cl-image
                        responsive
                        public-id="{{ person.image.public_id }}"
                        secure="true"
                        fetch-format="auto"
                        attr.alt="Portrait image of {{ person.name.first }} {{
                            person.name.last
                        }}"
                        class="cdn-image"
                    >
                        <cl-transformation
                            gravity="face"
                            height="400"
                            width="400"
                            crop="fill"
                        >
                        </cl-transformation>
                    </cl-image>
                </div>

                <div class="name">
                    {{ person.name.first }} {{ person.name.last }}
                </div>

                <!-- Visible for non-grad students of now -->
                <div class="title" *ngIf="!cohort">{{ person.title }}</div>

                <!-- <div class="year" *ngIf="person.cohortYear">
                    <span *ngIf="!person.alumni">Graduate Student, </span
                    >
                </div> -->
                <em *ngIf="person.onLeave">On Leave</em>
            </a>
        </div>
    </div>
</div>
