@import "~src/styles/_variables";

.people-grid {
  #top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .list {
    margin-top: 5%;

    &.is-multiline {

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      @include phones {
        grid-template-columns: repeat(1, 1fr);
      }

      @include tablet-portrait {
        grid-template-columns: repeat(2, 1fr);
      }

      .person {
        margin: 20px;
      }
    }
  }

  .name {
    font-size: 1.3em;
    line-height: 1.43;
    letter-spacing: 0.3px;
  }

  a.white {
    div {
      color: black;
    }
  }
}
