@import "~src/styles/_variables";

.people-grid {

  h1,
  h4 {
    color: white !important;
  }

  #top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #list {
    margin-top: 5%;

    &.is-multiline {
      display: flex;
      flex-wrap: wrap;

      .person {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 21%;
        margin: 20px;

        @include phones {
          flex-basis: 75%;
        }

        @include tablet-portrait {
          flex-basis: 33%;
        }
      }
    }
  }

  .name {
    font-size: 1.3em;
    line-height: 1.43;
    letter-spacing: 0.3px;
  }

  a.white {
    div {
      color: white;
    }
  }
}
