<person-modal
    *ngIf="currentPerson !== undefined"
    [person]="currentPerson"
    (onClose)="closePerson()"
></person-modal>

<div id="list">
    <div
        class="person view-tooltip"
        [class.blank]="person.name === 'dummy'"
        *ngFor="let person of people; let i = index"
    >
        <a *ngIf="person.name != 'dummy'" routerLink="/people/{{ person.key }}">
            <div class="bg">
                <span role="tooltip">view</span>

                <cl-image
                    responsive
                    public-id="{{ person.image.public_id }}"
                    secure="true"
                    width="270"
                    height="300"
                    attr.width="auto:breakpoints:400"
                    loading="lazy"
                    sizes="100vw"
                    client_hints="true"
                    fetch-format="auto"
                    crop="scale"
                    attr.alt="Portrait image of {{ person.name.first }} {{
                        person.name.last
                    }}"
                    class="cdn-image"
                >
                    <cl-transformation
                        attr.quality="100"
                        gravity="face"
                        height="300"
                        width="270"
                        crop="fill"
                    ></cl-transformation>
                </cl-image>
            </div>

            <div class="name">
                {{ person.name.first }} {{ person.name.last }}
                <div class="title">{{ person.title }}</div>
                <div class="year" *ngIf="person.category === 'Masters'">
                    Media Design, {{ person.cohortYear.label }}
                </div>
            </div>
        </a>
    </div>
</div>
