<nav class="columns">

	<div class="column is-four-fifths">
			<a id="home" routerLink="/">
				<cdn-image cloudinaryId="logos/el-logo" width="423" alt="Button to go to home page" aria-role="button"></cdn-image>
			</a>
	</div>

	<div class="column">
		<a id="menu" (click)="openNav()" class="columns">
			<div class="column is-one-quarter">
				<span></span>
				<span></span>
			</div>
			<div id="label" class="column">Menu</div>
		</a>
	</div>

<!-- 	
	<section id="menu">
	
	</section> -->

</nav>