@import "~src/styles/_variables";

nav {
  position: relative;
  background-color: white;
  padding-top: 3%;
  margin-bottom: 3% !important;
  z-index: 4;
}

#home {
  ::ng-deep img {
    @include mobile-only {
      width: 200px;
    }
  }
}

#menu-btn {
  font-family: Overpass;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2.3px;
  cursor: pointer;

  #lines {
    margin-top: 4%;

    span {
      display: block;
      height: 2px;
      width: 50px;
      background: black;
      opacity: 1;
      left: 0;

      @include transform(rotate(0deg));
      @include transition(all, .7s, ease-in-out);

      &:nth-child(2) {
        position: relative;
        top: 10px;
      }

    }

  }

  #label {
    display: flex;

    .open {
      position: absolute;
    }

    .close {
      opacity: 0;
    }
  }

  &.open {

    #lines {
      span {
        &:nth-child(1) {
          @include transform(rotate(155deg));
        }

        &:nth-child(2) {
          @include transform(rotate(-155deg) translate(6px, 10px));
        }
      }
    }

  }
}

#menu {
  position: absolute;
  display: none;
  z-index: 3;

  h3 {
    font-family: 'LunchtypeMedium';
    font-size: 2.4em;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 1.5px;

    a {
      text-decoration: none;
      color: black;

      &:visited {
        color: black;
      }
    }
  }
}
