@import "~src/styles/_variables";

.result {

    display: block;

    margin-top: 1%;
    
    font-family: Overpass;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1.3px;
    color: #cbcbcb;

    ::ng-deep mark {
        background: none;
    }

    hr {
        border-bottom: solid 1px #cbc;
        margin: 1% 0;
        width: 5%;
    }

    .content {
        font-size: .4em;
        font-family: 'LunchtypeRegular';
        margin: 0;
        letter-spacing: normal;
    }

    .type {
        text-transform: capitalize;
        font-size: .3em;
        font-family: 'LunchtypeRegular';
        margin: 0;

        color: $tomato;
    }

}