@import "~src/styles/_variables";
@import "~src/styles/_mixins";

.result {

  display: block;
  text-align: left;

  margin-top: 1%;

  @include font-lunchtype-med;
  font-size: 1.6em;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 1.5px;

  color: white;

  ::ng-deep mark {
    background: none;
    color: $mango;
  }

  .name {
    display: flex;
    justify-content: space-between;

    .type {
      display: flex;
      background-color: $tomato;
      text-transform: uppercase;
      @include font-lunchtype;
      font-size: 0.5em;
      margin: 0;
      border-radius: 10px;
      padding: 0 1% 0 1%;
      align-items: center;
      max-height: 30px;
    }
  }

  .content {
    @include font-lunchtype;
    font-size: .6em;

    margin: 0;
    letter-spacing: normal;

    opacity: .65;

    &::before {
      content: '...';
    }

    &::after {
      content: '...';
    }
  }

}
