<div class="{{type}}">
    <a href="{{link}}">
        <div class="top">

            <h2>{{pub.title}}</h2>
            <hr />

        </div>

        <div class="bottom">

            <div class="icon">
                <span *ngIf="type !== 'article-chapter'" class="uppercase">{{type}}</span>
                <span *ngIf="type === 'article-chapter'" class="uppercase">article</span>
                <br />
                <cdn-image cloudinaryId="publications/{{pub.form.key}}-icon" width="{{iconWidth}}" alt="{{pub.title}} icon image"></cdn-image>
                <div>{{year}}</div>
            </div>

            <div id="right">

                <h3 class="uppercase" [innerHtml]="pub.author"></h3>
                <p *ngIf="(pub.blurb && pub.blurb.length === 0) || !pub.blurb">[Blurb here] But you're good, Marty, you're really good. And this audition tape of your is great, you gotta send it in to the record
                    company.</p>
                <p *ngIf="pub.blurb && pub.blurb.length > 0">{{pub.blurb}}</p>

                <div class="link">
                    
                    <div class="context" *ngIf="pub.context !== undefined">{{pub.context}}</div>

                    <div class="a" *ngIf="hasDownloads || hasResource">download&nbsp;<cdn-image cloudinaryId="publications/download-icon"
                            width="25" alt="{{pub.title}} download icon image"></cdn-image>
                    </div>
                    <div class="a" *ngIf="isExternal">
                        view&nbsp;
                        <cdn-image cloudinaryId="publications/view-icon" width="25" alt="{{pub.title}} view icon image"></cdn-image>
                    </div>

                </div>

            </div>
        </div>
    </a>
</div>
