@import "~src/styles/_variables";

#modal {
  position: fixed;
  display: flex;
  cursor: pointer;
  overflow-y: scroll;

  align-items: center;

  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 1000;

  color: white;
  background-color: black;

  flex-direction: column;

  h2 {
    color: white;
  }

  h3 {
    font-size: 1em;
    letter-spacing: 1.5px;
    line-height: 28px;
    font-weight: 900;
  }

  #header {
    display: flex;
    justify-content: space-between;
    padding: 3% 4% 0% 2%;

    @include not-phones {
      max-height: 100px;
    }

    @include phones {
      padding-bottom: 15%;
    }
  }

  #content {

    max-width: 1440px;
    margin-top: 3.5%;

    ::ng-deep a,
    a {
      color: white;
      border-bottom: solid 1px rgba($color: #fff, $alpha: .6);
    }

    @include not-phones {
      padding-left: 0;
      padding-right: 0;
    }

    @include ng-img {
      max-width: 270px;
    }

    #close {
      text-align: right;
    }

    #bio {
      font-size: 1em;
      line-height: 46px;
      font-family: 'Overpass';

      @include not-phones {
        font-size: 1.5em;
      }

    }

  }

  #menu-btn {
    display: flex;
    align-items: center;

    width: 75px;
    height: 40px;

    span {
      display: block;
      position: absolute;
      height: 1px;
      width: 82px;
      background: white;

      &:nth-child(1) {
        @include transform(rotate(155deg));
      }

      &:nth-child(2) {
        @include transform(rotate(-155deg));
      }

    }
  }
}
