@import "~src/styles/_variables";

#modal {
  position: fixed;
  display: flex;
  overflow-y: scroll;

  align-items: center;

  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 1000;

  color: white;
  background-color: black;

  flex-direction: column;

  h2 {
    color: white;
  }

  h3 {
    font-size: 1em;
    letter-spacing: 1.5px;
    line-height: 28px;
    font-weight: 900;
  }

  #header {
    display: flex;
    justify-content: space-between;
    padding: 3% 4% 0% 2%;

    @include not-phones {
      max-height: 100px;
    }

    @include phones {
      padding-bottom: 15%;
    }
  }

  #content {

    max-width: 1440px;
    margin-top: 3.5%;
    padding-left: 5%;
    padding-right: 5%;

    ::ng-deep a,
    a {
      color: white;
      border-bottom: solid 1px rgba($color: #fff, $alpha: .6);
    }

    @include not-phones {
      padding-left: 0;
      padding-right: 0;
    }

    #portrait {
      @include ng-img {
        max-width: 270px;
      }
    }

    #close {
      text-align: right;
      cursor: pointer;
    }

    #bio {
      font-size: 1em;
      font-family: 'Overpass';
      line-height: 23px;

      @include not-phones {
        font-size: 1.5em;
        line-height: 46px;
      }

    }

    #projects {
      h3 {
        @include pxtoem(18, 24);
      }

      #thumbs {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15%;

        .project-thumb {
          cursor: pointer;
        }
      }
    }

    #border {
      border-left: 1px solid white;
    }
  }

  #preview {

    min-height: 650px;

    @include phones {
      border-top: 1px solid white;
    }

    a {
      border: none;
    }

    h3 {
      margin-top: 2%;
      display: flex;
      justify-content: space-between;
    }

    svg {
      @include transition(transform, .2s, ease-in-out);
    }

    &:hover {
      svg {
        @include translate(15%);
      }
    }
  }
}
