<section id="bg" *ngIf="content !== undefined">
    <div class="columns is-multiline">
        <h2 class="column is-full">{{ content.name }}</h2>
        <div class="column is-half ">
            <p>{{ content.longDescription }}</p>
        </div>
        <div class="column is-full" *ngIf="content.url">
            <app-button
                class="column is-4-tablet"
                label="Go to website"
                href="{{ content.url }}"
                [ariaLabel]="'Go to ' + content.name + ' website'"
            ></app-button>
        </div>
    </div>

    <hr />
    <!-- Body, videos -->
    <div class="columns is-multiline">
        <div class="column is-full">
            <p id="body" [innerHtml]="content.body.html"></p>
        </div>

        <div
            class="column columns is-multiline is-full videos"
            *ngIf="videoUrls && videoUrls.length > 0"
        >
            <h1 class="uppercase column is-full">Videos</h1>
            <div
                class="video column is-11-mobile is-5-tablet"
                *ngFor="let video of content.galleryVideos; let i = index"
            >
                <a
                    id="video-thumb-{{ i }}"
                    [routerLink]=""
                    (click)="embedVideo(i)"
                    *ngIf="!videoDisplayToggle[i]"
                >
                    <cdn-image
                        cloudinaryPrefix="/"
                        cloudinaryId="{{
                            content.galleryVideoThumbails[i].public_id
                        }}"
                        autoFormat="true"
                        [alt]="
                            'Preview thumbnail image for ' +
                            content.name +
                            ' video.'
                        "
                        *ngIf="content.galleryVideoThumbails[i]"
                    ></cdn-image>
                    <img
                        src="https://dummyimage.com/500x300/cfcfcf/ff0000.png&text=Needs+thumbnail"
                        alt="Preview image thumbnail for video with text saying 'Needs thumbnail'"
                        *ngIf="!content.galleryVideoThumbails[i]"
                    />
                    <span class="icon">
                        <svg
                            width="80"
                            height="80"
                            fill="none"
                            viewBox="0 0 80 80"
                        >
                            <path
                                fill="#fff"
                                d="M40 0C17.92 0 0 17.92 0 40s17.92 40 40 40 40-17.92 40-40S62.08 0 40 0zM29.44 55.84V24.16L56.96 40 29.44 55.84z"
                            />
                        </svg>
                    </span>
                </a>
                <div
                    id="video-embed-{{ i }}"
                    class="embed"
                    *ngIf="videoDisplayToggle[i]"
                >
                    <div class="frame">
                        <iframe
                            [src]="videoUrls[i]"
                            frameborder="0"
                            allow="autoplay; fullscreen; picture-in-picture"
                            allowfullscreen
                        ></iframe>
                    </div>
                    <script src="https://player.vimeo.com/api/player.js"></script>
                </div>
                <p class="title uppercase">
                    {{ content.galleryVideoTitles[i] }}
                </p>
                <p>
                    {{ content.galleryVideoCaptions[i] }}
                </p>
            </div>
        </div>
    </div>
    <section
        id="studios"
        class="columns is-multiline is-mobile no-margin"
        *ngIf="content"
    >
        <h1 class="uppercase">Studios</h1>
        <div class="columns column is-multiline is-mobile is-full no-margin">
            <div
                class="column is-4-tablet is-11-mobile type"
                *ngFor="let studio of content.studios"
            >
                <a routerLink="/studios/studio/{{ studio.key }}">
                    <cdn-image
                        cloudinaryPrefix="/"
                        cloudinaryId="{{ studio.thumb.public_id }}"
                        width="301"
                        autoFormat="true"
                        [responsive]="true"
                        [alt]="'Thumbnail image for studio ' + studio.name"
                    ></cdn-image>
                    <h4>{{ studio.name }}</h4>
                </a>
            </div>
        </div>
    </section>
</section>
