<section class="columns is-mobile is-multiline content" *ngIf="content">
    <div class="left" class="column is-half-tablet is-11-mobile">
        <h2>
            How to apply.
        </h2>

        <h3 [innerHtml]="content.applicationBlurb.html"></h3>
    </div>
    <div class="column is-11-mobile">
        <h1 class="uppercase">Ready to Apply?</h1>
        <app-button
            label="{{ content.buttonTxt }}"
            href="{{ content.applicationLink }}"
            ariaLabel="Go to page to apply to graduate program"
        ></app-button>
        <h1 class="uppercase">Questions?</h1>
        <p>
            Please contact
            <a class="href" routerLink="/people/paul-mihailidis"
                >Paul Mihailidis</a
            >.
        </p>
    </div>
</section>
