<person-modal
    *ngIf="currentPerson !== undefined"
    [person]="currentPerson"
    (onClose)="closePerson()"
></person-modal>
<section class="columns is-mobile is-multiline" *ngIf="content">
    <h2 class="column is-full">
        The Engagement Lab offers an MA in Media Design.
    </h2>

    <h3 class="column is-5-tablet is-full-mobile blurb">
        {{ content.programDescription }}
    </h3>

    <div class="column is-full">
        <h1 class="uppercase">
            Learning Objectives
        </h1>
        <h3 class="blurb">{{ content.learningObjectives }}</h3>

        <h1 class="uppercase" style="margin-top: 5%;">
            Partnerships
        </h1>
        <h3 class="blurb">{{ content.partnerships }}</h3>
    </div>
</section>

<section id="curricula" class="columns is-mobile is-multiline" *ngIf="content">
    <div id="timeline" *ngIf="content.phases && content.phases.length > 0">
        <div id="months" class="uppercase">
            <h3>sept</h3>
            <h3>oct</h3>
            <h3>nov</h3>
            <h3>dec</h3>
            <h3>jan</h3>
            <h3>feb</h3>
            <h3>mar</h3>
            <h3>apr</h3>
            <h3>may</h3>
            <h3>jun</h3>
            <h3>jul</h3>
            <h3>aug</h3>
        </div>
        <hr />

        <div id="phases">
            <div *ngFor="let phase of [1, 2, 3, 4]">
                <p class="counter">Phase</p>
                <p class="desc">{{ content.phases[phase - 1] }}</p>
            </div>
        </div>
    </div>
    <div class="column is-half-tablet is-full-mobile">
        <div *ngFor="let index of [0, 1]">
            <h3 class="blurb">{{ curricula[index].name }}</h3>
            <p class="desc">{{ curricula[index].description }}</p>
        </div>
    </div>
    <div class="column is-full-mobile">
        <div *ngFor="let index of [2, 3]">
            <h3 class="blurb">{{ curricula[index].name }}</h3>
            <p class="desc">{{ curricula[index].description }}</p>
        </div>
    </div>
</section>

<section id="faculty" *ngIf="content && content.faculty">
    <hr />
    <h1 class="uppercase">
        Faculty
    </h1>
    <people-grid
        modalRoute="/graduate/faculty"
        [people]="content.faculty"
    ></people-grid>
</section>

<section id="projects" *ngIf="content && content.projects">
    <hr />
    <h1 class="uppercase">
        Student Thesis Examples
    </h1>

    <div class="columns is-mobile is-multiline">
        <div
            class="column is-half-tablet is-11-mobile project"
            *ngFor="let project of content.projects"
        >
            <a routerLink="/graduate/projects/{{ project.key }}">
                <cdn-image
                    cloudinaryPrefix="/"
                    cloudinaryId="{{ project.thumb.public_id }}"
                    width="301"
                    autoFormat="true"
                    [responsive]="true"
                    [alt]="'Thumbnail image for project' + project.name"
                ></cdn-image>
                <h3 class="blurb">{{ project.name }}</h3>
                <h1 class="uppercase sm no-margin">Year</h1>
                <span>{{ project.cohortYear.label }}</span>
                <h1 class="uppercase sm no-margin">Advisor</h1>
                <span
                    >{{ project.faculty.name.first }}
                    {{ project.faculty.name.last }}<br
                /></span>
            </a>
        </div>
        <div class="column is-full center">
            <app-button
                label="See All Thesis Projects"
                route="/graduate/projects"
                ariaLabel="Go to graduate thesis projects page"
            ></app-button>
        </div>
    </div>
</section>
