<section id="intro" class="columns is-mobile is-multiline" *ngIf="content">
    <h2 class="column is-full">
        Thesis Studios
    </h2>

    <h3 class="column is-3 blurb">{{ content.studiosBlurb }}</h3>

    <div id="filters" class="uppercase column columns is-mobile is-full">
        <span class="bold column is-1">Year:</span>
        <span class="controls column"
            ><a
                aria-label="Button to filter thesis projects by all years"
                data-toggle="all"
                >All</a
            >
            <a
                *ngFor="let cohort of cohorts"
                [attr.aria-label]="
                    'Button to filter projects by ' +
                    cohort.name.replace('Cohort', '') +
                    ' year'
                "
                [attr.data-toggle]="'.' + cohort.key"
            >
                {{ cohort.name.replace('Cohort', '') }}
            </a>
        </span>
    </div>
</section>

<section id="projects" class="columns is-multiline" *ngIf="projects">
    <!-- We have to map array of initiative keys and then join result w/ space -->
    <div
        #projectList
        *ngFor="let project of projects; let i = index"
        class="project view-tooltip column is-3"
        [class.mix]="project.key !== 'dummy'"
    >
        <a
            routerLink="/studios/projects/{{ project.key }}"
            *ngIf="project.key !== 'dummy'"
        >
            <div class="bg">
                <span role="tooltip">view</span>
                <cdn-image
                    cloudinaryPrefix="/"
                    cloudinaryId="{{ project.thumb.public_id }}"
                    autoFormat="true"
                    [responsive]="true"
                    height="350"
                    alt="Thumbnail image for '{{ project.name }}' project"
                ></cdn-image>
            </div>
            <h4>{{ project.name }}</h4>
        </a>
    </div>
</section>
