@import '~src/styles/_mixins';

#intro {
  @include font-overpass;

  a {
    cursor: pointer;
  }

  .bold {
    font-weight: 900;
  }

  .controls a {
    margin-right: 2%;


    &:hover,
    &.active {
      border-bottom: 1px solid black;
    }
  }
}
