@import "~src/styles/_variables";

h2 {
    
    font-size: 2.25em;

    @include not-phones {
        font-size: 3.1em;

    }

}

h3 {

  font-family: 'LunchtypeRegular';
  line-height: 1.17;
  letter-spacing: 0.5px;
  
}

#portfolio {

    .icon {
        max-width: 100px;
        
        &.tomato {
            @include circular-background($tomato);
        }
        &.gb {
            @include circular-background($green-blue);
        }
        &.mango {
            @include circular-background($mango);
        }
    }

}

#team {
    background-color: black;
    color: white;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
}