@import "~src/styles/_variables";
@import "~src/styles/_mixins";

#bg {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 3%;
}

h1.sm {
  font-size: 1.05em;
}

h3 {
  @include font-overpass;
}
