<section id="bg" *ngIf="content">
    <div class="columns is-multiline">
        <h2 class="column is-full">{{ content.name }}</h2>
        <div class="blurb column is-four-fifths-desktop">
            {{ content.semester }}
        </div>
        <div class="column is-4">
            <h1 class="uppercase sm">
                Faculty
            </h1>
            <span *ngFor="let person of content.faculty">
                <a routerLink="/people/{{ person.key }}"
                    >{{ person.name.first }} {{ person.name.last }}<br /> </a
            ></span>
        </div>
        <div class="column is-4">
            <h1 class="uppercase sm">
                <span
                    *ngIf="
                        content.departmentLabel &&
                            content.departmentLabel.length > 0;
                        else defaultDeptLabel
                    "
                >
                    {{ content.departmentLabel }}
                </span>
                <ng-template #defaultDeptLabel>
                    Department
                </ng-template>
            </h1>
            {{ content.department }}
        </div>
        <div class="column">
            <h1 class="uppercase sm">
                <span
                    *ngIf="
                        content.sponsorLabel && content.sponsorLabel.length > 0;
                        else defaultLabel
                    "
                >
                    {{ content.sponsorLabel }}
                </span>
                <ng-template #defaultLabel>
                    Class Sponsor
                </ng-template>
            </h1>
            {{ content.sponsor }}
        </div>
        <div class="column is-4">
            <h1 class="uppercase sm">
                Students
            </h1>

            <span *ngFor="let student of content.students">
                {{ student }}<br />
            </span>
        </div>
        <div
            class="column is-4"
            *ngIf="content.relatedLinks && content.relatedLinks.length > 0"
        >
            <h1 class="uppercase sm">
                Related Links
            </h1>

            <span *ngFor="let link of content.relatedLinks">
                <a href="{{ link.file.url }}">{{ link.name }}<br /></a>
            </span>
        </div>
    </div>

    <div class="columns">
        <div class="column is-4">
            <h1
                class="uppercase sm"
                *ngIf="content.collaborators && content.collaborators.html"
            >
                Collaborators
            </h1>
            <div
                id="collaborators"
                [innerHtml]="content.collaborators.html"
                *ngIf="content.collaborators && content.collaborators.html"
            ></div>
            <h1 class="uppercase sm">
                Contact
            </h1>
            <span>{{ content.contact }}</span>
        </div>
        <div
            class="column is-9"
            *ngIf="
                content.galleryVideos === undefined ||
                    content.galleryVideos.length === 0;
                else showVideos
            "
        >
            <cdn-image
                cloudinaryPrefix="/"
                cloudinaryId="{{ content.primaryImage.public_id }}"
                width="1044"
                [autoFormat]="true"
                [responsive]="true"
                [alt]="'Primary image for ' + content.name + ' thesis page.'"
                [describedby]="'primary-caption'"
            ></cdn-image>
            <div id="primary-credit">{{ content.primaryImageCredit }}</div>
            <p id="primary-caption">{{ content.primaryImageDescription }}</p>
        </div>
        <ng-template #showVideos>
            <div class="column columns is-multiline is-9 videos">
                <div
                    class="video column is-11-mobile is-5-tablet"
                    *ngFor="let video of content.galleryVideos; let i = index"
                >
                    <a
                        id="video-thumb-{{ i }}"
                        [routerLink]=""
                        (click)="embedVideo(i)"
                        *ngIf="!videoDisplayToggle[i]"
                    >
                        <cdn-image
                            cloudinaryPrefix="/"
                            cloudinaryId="{{
                                content.galleryVideoThumbails[i].public_id
                            }}"
                            autoFormat="true"
                            [alt]="
                                'Preview thumbnail image for ' +
                                content.name +
                                ' video.'
                            "
                            *ngIf="content.galleryVideoThumbails[i]"
                        ></cdn-image>
                        <img
                            src="https://dummyimage.com/500x300/cfcfcf/ff0000.png&text=Needs+thumbnail"
                            alt="Preview image thumbnail for video with text saying 'Needs thumbnail'"
                            *ngIf="!content.galleryVideoThumbails[i]"
                        />
                        <span class="icon">
                            <svg
                                width="80"
                                height="80"
                                fill="none"
                                viewBox="0 0 80 80"
                            >
                                <path
                                    fill="#fff"
                                    d="M40 0C17.92 0 0 17.92 0 40s17.92 40 40 40 40-17.92 40-40S62.08 0 40 0zM29.44 55.84V24.16L56.96 40 29.44 55.84z"
                                />
                            </svg>
                        </span>
                    </a>
                    <div
                        id="video-embed-{{ i }}"
                        class="embed"
                        *ngIf="videoDisplayToggle[i]"
                    >
                        <div class="frame">
                            <iframe
                                [src]="videoUrls[i]"
                                frameborder="0"
                                allow="autoplay; fullscreen; picture-in-picture"
                                allowfullscreen
                            ></iframe>
                        </div>
                        <script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <p class="title uppercase">
                        {{ content.galleryVideoTitles[i] }}
                    </p>
                    <p>
                        {{ content.galleryVideoCaptions[i] }}
                    </p>
                </div>
            </div>
        </ng-template>
    </div>

    <!-- Body, projects, gallery -->
    <div class="columns is-multiline">
        <div class="column is-8-tablet is-11-mobile is-offset-4-tablet">
            <p id="body" [innerHtml]="content.body.html"></p>
        </div>
        <div
            id="projects"
            class="column is-8-tablet is-11-mobile is-offset-4-tablet"
            *ngIf="content.studentProjects && content.studentProjects.html"
        >
            <hr />
            <h1>Student Projects</h1>
            <p id="projects" [innerHtml]="content.studentProjects.html"></p>
        </div>
        <div class="column is-full">
            <hr />

            <slideshow
                [images]="content.galleryImages"
                [title]="content.name"
                [captions]="content.galleryImageCaptions"
            >
            </slideshow>
        </div>
    </div>
</section>
