<section id="bg" *ngIf="content">
    <div class="columns is-multiline">
        <h2 class="column is-full">{{ content.name }}</h2>
        <div class="blurb column is-four-fifths-desktop">
            {{ content.semester }}
        </div>
        <div class="column is-4">
            <h1 class="uppercase sm">
                Faculty
            </h1>
            <span *ngFor="let person of content.faculty">
                <a routerLink="/people/{{ person.key }}"
                    >{{ person.name.first }} {{ person.name.last }}<br /> </a
            ></span>
        </div>
        <div class="column is-4">
            <h1 class="uppercase sm">
                Department
            </h1>
            {{ content.department }}
        </div>
        <div class="column">
            <h1 class="uppercase sm">
                Class Sponsor
            </h1>
            {{ content.sponsor }}
        </div>
        <div class="column is-4">
            <h1 class="uppercase sm">
                Students
            </h1>

            <span *ngFor="let student of content.students">
                {{ student }}<br />
            </span>
        </div>
        <div
            class="column is-4"
            *ngIf="content.relatedLinks && content.relatedLinks.length > 0"
        >
            <h1 class="uppercase sm">
                Related Links
            </h1>

            <span *ngFor="let link of content.relatedLinks">
                <a href="{{ link.file.url }}">{{ link.name }}<br /></a>
            </span>
        </div>
    </div>

    <div class="columns">
        <div class="column is-4">
            <h1 class="uppercase sm">
                Collaborators
            </h1>
            <span *ngFor="let collaborator of content.collaborators">
                {{ collaborator }}<br
            /></span>
            <h1 class="uppercase sm">
                Contact
            </h1>
            <span>{{ content.contact }}</span>
        </div>
        <div class="column is-9" *ngIf="(content.galleryVideos === undefined || content.galleryVideos.length === 0) else showVideos">
            <cdn-image
                cloudinaryPrefix="/"
                cloudinaryId="{{ content.primaryImage.public_id }}"
                width="1044"
                [autoFormat]="true"
                [responsive]="true"
                [alt]="'Primary image for ' + content.name + ' thesis page.'"
                [describedby]="'primary-caption'"
            ></cdn-image>
            <p id="primary-caption">{{ content.primaryImageDescription }}</p>
        </div>
        <ng-template #showVideos>
            <div class="column columns is-multiline is-9">

                <div class="video column is-full-mobile is-5-desktop" *ngFor="let video of content.galleryVideos; let i = index;">
                    <a id="video-thumb-{{i}}" (click)="embedVideo(i)">
                        <cdn-image cloudinaryPrefix="/"  cloudinaryId="{{content.galleryVideoThumbails[i].public_id}}" autoFormat="true"></cdn-image>
                        <!-- <span class="icon">
                            <cdn-image cloudinaryId="icons/video" width="80" phoneWidth="24" svg="true"></cdn-image>
                        </span> -->
                    </a>
                    <div id="video-embed-{{i}}" class="embed">
                        <iframe src="https://player.vimeo.com/video/420657931" frameborder="0" allow="fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <p>
                        {{content.galleryVideoTitles[i]}}
                    </p>
                    <p>
                        {{content.galleryVideoCaptions[i]}}
                    </p>
                </div>
            </div>
        </ng-template>
    </div>

    <div class="columns is-multiline">
        <div class="column is-8-tablet is-11-mobile is-offset-4-tablet">
            <h1 class="uppercase">Introduction</h1>
            <p [innerHtml]="content.introduction.html"></p>
        </div>
        <div class="column is-full">
            <slideshow
                [images]="content.galleryImages"
                [title]="content.name"
                [captions]="content.galleryImageCaptions"
            ></slideshow>
        </div>
        <div class="column is-8-tablet is-11-mobile is-offset-4-tablet">
            <h1 class="uppercase">Social Impact</h1>
            <p [innerHtml]="content.impact.html"></p>
            <h1 class="uppercase">Role of Technology + Media</h1>
            <p [innerHtml]="content.roles.html"></p>
        </div>
    </div>
</section>
