<section class="{{ content.key }}" *ngIf="content !== undefined">
    <h1 class="uppercase">Research Initiative</h1>
    <div id="upper">
        <div id="text">
            <h2>{{ content.name }}</h2>
            <h3 class="blurb">{{ content.description }}</h3>
        </div>
    </div>

    <div class="columns is-multiline">
        <h1 class="column is-full header uppercase">why we care</h1>
        <p class="column blurb">
            {{ content.longDescription }}
        </p>
    </div>
    <div>
        <h3 class="uppercase">Latest Work</h3>
        <hr class="thick" />
        <div id="projects" class="columns is-multiline">
            <a
                class="project view-tooltip column is-3-tablet"
                routerLink="/research/projects/{{ project.key }}"
                *ngFor="let project of content.projects"
            >
                <div class="bg">
                    <span role="tooltip">view</span>
                    <cdn-image
                        cloudinaryPrefix="/"
                        cloudinaryId="{{ project.image.public_id }}"
                        autoFormat="true"
                        [responsive]="true"
                        height="350"
                        alt="Thumbnail image for '{{ project.name }}' project"
                        *ngIf="project.image !== undefined"
                    ></cdn-image>
                </div>
                <h4>{{ project.name }}</h4>
            </a>
        </div>
    </div>
</section>
