// CDN CONFIG
$cdn-product: 'homepage-2.0';

@import url('https://fonts.googleapis.com/css?family=Overpass:400,600,900');
@font-face {
    font-family: 'LunchtypeRegular';
    src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/v1543943334/homepage-2.0/fonts/lunchtype22-regular-webfont.woff2') format('woff2'), /* Super modern browsers */
         url('https://res.cloudinary.com/engagement-lab-home/raw/upload/v1543943334/homepage-2.0/fonts/lunchtype22-regular-webfont.woff') format('woff'), /* Modern browsers */
         url('https://res.cloudinary.com/engagement-lab-home/raw/upload/v1543943478/homepage-2.0/fonts/Lunchtype22-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  }
  @font-face {
      font-family: 'LunchtypeMedium';
      src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/v1543943334/homepage-2.0/fonts/lunchtype22-medium-webfont.woff2') format('woff2'), /* Super modern browsers */
           url('https://res.cloudinary.com/engagement-lab-home/raw/upload/v1543943334/homepage-2.0/fonts/lunchtype22-medium-webfont.woff') format('woff'), /* Modern browsers */
           url('https://res.cloudinary.com/engagement-lab-home/raw/upload/v1543943478/homepage-2.0/fonts/Lunchtype22-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
    }

h1 {
    font-family: Overpass;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 2px;
    color: #000000;
}

h2 {
    font-family: Overpass;
    font-size: 2.8em;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: 1.3px;
    color: #000000;
}
h3 {
    font-family: Overpass;
    font-weight: 600;
    font-size: 1.35em;
    line-height: 1.38;
    letter-spacing: 1.5px;
}
h4 {
  font-family: Overpass;
  font-size: .9em;
  font-weight: 600;
}

// COLORS
$yellow: #fecf33;
$light-orange: #fdbd39;
$peach: #ee6723;

$tomato: #f72923;
$green-blue: #00ab9e;
$mango: #f6a536;

$mq-breakpoints: (
    mobile:  320px,
    mobileLg:  425px,
    tablet:  1024px,
    tabletPortrait:  768px,
    desktop: 980px,
    wide:    1300px,

    // Tweakpoints
    desktopAd: 810px,
    mobileLandscape: 480px
);

// Mixins 
@import '~sass-mq/_mq';
@import './mixins';