// Bulma framework
$tablet: 768px;
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/elements/container";

// Site vars
@import "./variables";

body {
  font-family: 'LunchtypeRegular';
  font-size: 18px;
  color: black;

  @include mobile-only {
    font-size: 16px;
  }
}

// "Fake" background for top of project pages
#project-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -100;
  opacity: 0;

  @include multi-transition(max-height .03s ease-in-out, opacity 1s linear);

  &.show {
    opacity: 1;
  }

  &.index-0 {
    background-color: $mango;
  }
  &.index-1 {
    background-color: $green-blue;
  }
  &.index-2 {
    background-color: $tomato;
  }
}

// GLOBAL STYLING
a {
  color: black;
  text-decoration: none;

  &.href {
    border-bottom: solid 2px black;
  }
}

button {
  background: none;
  border: 0;
}

// Bulma container adjustments
.container {
  @include not-desktop {
    margin-left: 3%;
    margin-right: 3%;
  }
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.small {
  font-size: small;
}

.xx-large {
  font-size: xx-large;
}

.uppercase {

  text-transform: uppercase;

}

.blurb {

  font-size: 1.3em;
  line-height: 1.43;
  letter-spacing: 0.3px;

}

.auto {
  margin: auto !important;
}

.no-margin {
  margin: 0;
}

.no-pad {
  padding: 0;
}

.vert-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vert-center-desktop {
  @include mq($from: tablet) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.hidden {
  display: none;
}

.hidden-desktop {
  @include mq($from: tablet) {
    display: none;
  }
}

.hidden-mobile {
  @include mobile-only {
    display: none;
  }
}

.hidden-not-mobile {
  @include mq($from: mobileLg) {
    display: none;
  }
}

// Global project styles
#projects {

  .project {
    .bg {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        display: flex;
        position: absolute;
        color: black;
        background-color: white;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        align-items: center;
        justify-content: center;
        font-family: Overpass;
        font-size: 1.3em;
        font-weight: bold;
        opacity: 0;
        @include transform(scale(.9));
        @include transition(all, .8s, ease-in-out);
      }
    }

    &:hover {
      .bg {
        span {
          opacity: 1;
          @include transform(scale(1));           
          @include transition(all, .8s, ease-in-out);
        }
      }
    }

    &:nth-child(3n+1) {
      .bg {
        background-color: $tomato;
      }
    }

    &:nth-child(3n+2) {
      .bg {
        background-color: $mango;
      }
    }

    &:nth-child(3n+3) {
      .bg {
        background-color: $green-blue;
      }
    }
  }

}
