// Bulma framework
$fullhd: 1800px;
$tablet: 768px;
$widescreen: 1240px;
$gap: 0px;

@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/derived-variables";
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/elements/container";

// Site vars
@import "./_variables";
@import "./_mixins";

@keyframes open {

  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }

}

body {
  font-family: 'LunchtypeRegular';
  font-size: 18px;
  color: black;

  background-size: 100% 101%;
  background-size: contain;
  background-repeat: no-repeat;

  margin: 0;

  overflow-x: hidden;

  @include mobile-only {
    font-size: 16px;
  }

  &.noscroll {
    overflow-y: hidden;
  }
}

// GLOBAL STYLING
a {
  color: black;
  text-decoration: none;
  cursor: pointer;

  &.href {
    border-bottom: solid 2px black;
  }

  &.animate {
    position: relative;
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: black;
      top: 101%;
      z-index: -1;
      @include transition(opacity, .3s, ease-in-out);
      opacity: 0;
    }

    &:hover:before {
      opacity: 1;
    }
  }
}

h1 {
  font-family: Overpass;
  font-size: 1.3em;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 2px;
  color: #000000;
}

h2 {
  font-family: Overpass;
  font-size: 2.8em;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: 1.3px;
  color: #000000;

  @include mobile-only {
    font-size: 2.2em;
  }
}

h3 {
  font-family: Overpass;
  font-weight: 600;
  font-size: 1.35em;
  line-height: 1.38;
  letter-spacing: 1.5px;

  &.blurb {

    @include pxtoem(24, 30);
    line-height: 46px;
    letter-spacing: 0px;

  }
}

h4 {
  font-family: Overpass;
  font-size: .9em;
  font-weight: 600;
}

button {
  background: none;
  border: 0;
}

hr {
  border-bottom: solid 2px black;

  &.thick {
    border-bottom: solid 4px black;
  }
}

// Project/event
#verticle-line {

  position: absolute;
  display: block;
  background-color: black;
  width: 2px;
  height: 40px;
  margin-top: -20px;

  @include not-phones {
    width: 4px;
    height: 100px;
    margin-top: -50px;
  }
}

// Initiative landing image
#initiative-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  visibility: hidden;
  background-size: cover;
  background-repeat: no-repeat;

  svg,
  img {
    display: none;
  }

  @include phones {
    height: 588px;
  }

  @media (min-width: 1440px) {
    img {
      display: block;
    }

    svg {
      display: none;
    }
  }

  @media (max-width: 1439px) {
    img {
      display: none;
    }

    svg {
      display: block;
    }
  }

  .shapes {
    visibility: hidden;
    width: 0;
    height: 0;
    overflow-x: hidden;

    // Maybe someday we can have one SVG morph
    svg,
    img {
      @include transition(transform, 1s, ease-in-out);
    }

    &#engaged-journalism {

      svg,
      img {
        transform: skew(0deg, 4deg);
      }
    }

    &#civic-smart-cities {

      svg,
      img {
        transform: skew(0deg, random(5)+deg);
      }
    }

    &#health-advocacy {

      svg,
      img {
        transform: skew(0deg, -6deg);
      }
    }

  }

  &.engaged-journalism {
    background-image: cdn-image('initiatives/trust-news-bg.jpg', c_fill, w_1440);

    #engaged-journalism {
      visibility: visible;
      width: auto;
      height: auto;

      svg,
      img {
        transform: skew(0deg);
      }
    }
  }

  &.civic-smart-cities {
    background-image: cdn-image('initiatives/smartcities-bg.jpg', c_fill, g_south_east, h_1021, w_1440);

    #civic-smart-cities {
      @include translate(0, 4%);
      visibility: visible;
      width: auto;
      height: auto;

      svg,
      img {
        transform: skew(0deg);
      }
    }
  }

  &.health-advocacy {
    background-image: cdn-image('initiatives/health-bg.jpg', c_fill, h_1021, w_1440);

    #health-advocacy {
      @include translate(0, 9%);
      visibility: visible;
      width: auto;
      height: auto;

      svg,
      img {
        transform: skew(0deg);
      }
    }
  }

  &.show {
    animation: show-initiative-bg 1s 1 both;
  }

  @keyframes show-initiative-bg {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
      visibility: visible;
    }
  }
}

// Form styles
.fields {
  width: 100%;

  input,
  textarea {
    width: 97%;
    padding: 1% 0 1% 1%;
    font-family: 'LunchtypeRegular'
  }

  button {
    padding: 1%;
    font-family: 'LunchtypeMedium';
  }

  input,
  button,
  textarea {
    @include pxtoem(24, 30);
    border: solid 4px black;
  }

  .formerror {
    font-family: 'Overpass';
    font-weight: 900;
    font-size: .8em;
  }

}

// Bulma container adjustments
.container {
  @include not-desktop {
    margin-left: 3%;
    margin-right: 3%;
  }
}

// Shared event listing style
.listing {

  .item {
    padding-left: 0;
    padding-right: 0;

    svg {
      @include transition(transform, .2s, ease-in-out);
    }

    a {
      &:hover {
        color: $tomato;

        h1,
        h2 {
          color: $tomato;
        }

        hr {
          border-color: $tomato;
        }

        svg {
          @include translate(15%);
        }

        svg path {
          stroke: $tomato;
        }
      }
    }

    .prev {

      svg {
        @include rotate(-180);
      }

      &:hover {
        svg {
          @include transform(rotate(-180deg) translate(15%, 0));
        }
      }
    }

    #next {
      @include not-phones {
        text-align: end;
      }
    }
  }
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
  font-family: 'LunchtypeMedium';
}

.blurb {

  font-size: 1.3em;
  line-height: 1.43;
  letter-spacing: 0.3px;

}

.auto {
  margin: auto !important;
}

.vert-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vert-center-desktop {
  @include mq($from: tablet) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

// Global project styles
.view-tooltip {

  .bg {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      display: flex;
      position: absolute;
      color: black;
      background-color: white;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      align-items: center;
      justify-content: center;
      font-family: Overpass;
      font-size: 1.3em;
      font-weight: bold;
      opacity: 0;
      @include transform(scale(.9));
      @include transition(all, .5s, cubic-bezier(0.230, 1.000, 0.320, 1.000));
    }
  }

  &:hover {
    .bg {
      span {
        opacity: .85;
        @include transform(scale(1));
        @include transition(all, .5s, cubic-bezier(0.230, 1.000, 0.320, 1.000));
      }
    }
  }

}

// Cookie notice override
.cc-revoke,
.cc-window {
  font-family: 'LunchtypeRegular' !important;

}

// Overrides tinyslider opacity: 0, pos: absolute bug in people-slider
.tns-slide-active {

  &.visible {
    img {
      position: relative !important;
      opacity: 1 !important;
    }
  }
}

.tns-item {
  &:not(.tns-slide-active):not(.ng-star-inserted) {
    a {
      display: none;
    }
  }
}
